<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMenuAcceleration</key>
	<string>monsterOfVar</string>
	<key>alphaTypeSize</key>
	<string>queryContainTier</string>
	<key>gateAsFacade</key>
	<string>concreteLabelMargin</string>
	<key>iconInVariable</key>
	<string>relationalCycleScale</string>
	<key>imperativeAwaitBorder</key>
	<string>profileStateTint</string>
	<key>inheritedCompletionFeedback</key>
	<string>providerProxyDepth</string>
	<key>numericalAxisInteraction</key>
	<string>managerWithoutMethod</string>
	<key>segueShapeDensity</key>
	<string>streamWithActivity</string>
	<key>titleLevelValidation</key>
	<string>unaryPatternOffset</string>
</dict>
</plist>
