<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonActionBound</key>
	<string>cartesianScaffoldValidation</string>
	<key>contractionThroughProcess</key>
	<string>ignoredProviderCenter</string>
	<key>errorPlatformShade</key>
	<string>backwardMonsterRotation</string>
	<key>heroForContext</key>
	<string>explicitPositionedDistance</string>
	<key>ignoredRichtextBorder</key>
	<string>temporaryAlignmentLeft</string>
	<key>sceneStyleKind</key>
	<string>curveActivityDelay</string>
	<key>sharedMemberMargin</key>
	<string>consultativeImageVisible</string>
</dict>
</plist>
