<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAmongContext</key>
	<string>momentumLayerSkewx</string>
	<key>explicitLayerPosition</key>
	<string>particleActivityCoord</string>
	<key>finalNibHue</key>
	<string>offsetLevelFormat</string>
	<key>mediaInsideTier</key>
	<string>similarChallengeSpacing</string>
	<key>mediumControllerTheme</key>
	<string>momentumWorkCount</string>
	<key>reductionAboutScope</key>
	<string>repositoryBridgeSize</string>
	<key>stateStageMargin</key>
	<string>hierarchicalGemSkewy</string>
	<key>zoneAlongValue</key>
	<string>imageWorkOrientation</string>
</dict>
</plist>
