<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeWorkMomentum</key>
	<string>buttonVariableTheme</string>
	<key>configurationThanComposite</key>
	<string>dependencyInsideTier</string>
	<key>cupertinoAnimationShade</key>
	<string>masterVisitorBorder</string>
	<key>mediocreSwitchVisibility</key>
	<string>resizableListviewInteraction</string>
	<key>priorMenuRotation</key>
	<string>resourceCycleRate</string>
	<key>providerCycleDirection</key>
	<string>inheritedCoordinatorBehavior</string>
	<key>sequentialRoleBound</key>
	<string>bitrateAgainstProcess</string>
	<key>smallChannelsOrigin</key>
	<string>scrollOutsideWork</string>
	<key>visibleCharacterStyle</key>
	<string>previewOrPrototype</string>
</dict>
</plist>
