<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperEnvironmentSkewy</key>
	<string>reusableMapRate</string>
	<key>equipmentViaProxy</key>
	<string>metadataDespiteValue</string>
	<key>methodParameterTint</key>
	<string>referencePlatformLocation</string>
	<key>nibBridgeName</key>
	<string>textureVisitorBorder</string>
	<key>resolverOrShape</key>
	<string>decorationPhasePosition</string>
	<key>subtleUsageMargin</key>
	<string>futurePerValue</string>
</dict>
</plist>
