<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocScopeTension</key>
	<string>asyncAlongMode</string>
	<key>bulletKindTransparency</key>
	<string>listviewAsParam</string>
	<key>granularOverlayTint</key>
	<string>finalProviderCenter</string>
	<key>sampleStrategyDistance</key>
	<string>streamFormPosition</string>
	<key>signWithoutTemple</key>
	<string>iconPerFlyweight</string>
	<key>timerAtPattern</key>
	<string>challengeFromLayer</string>
	<key>viewParamRight</key>
	<string>certificateInsideInterpreter</string>
</dict>
</plist>
