<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateAmongProcess</key>
	<string>stepContainMode</string>
	<key>handlerAmongProcess</key>
	<string>gateContainOperation</string>
	<key>intensityBridgeMargin</key>
	<string>convolutionFunctionTop</string>
	<key>petAsShape</key>
	<string>concreteMethodPosition</string>
	<key>priorNavigatorColor</key>
	<string>asyncRowInteraction</string>
	<key>serviceAroundNumber</key>
	<string>effectValueRate</string>
</dict>
</plist>
