<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertProxyAlignment</key>
	<string>assetAlongParam</string>
	<key>completionMementoShade</key>
	<string>completerBesideVisitor</string>
	<key>cupertinoPromiseMomentum</key>
	<string>listviewLikeScope</string>
	<key>gridPrototypeTint</key>
	<string>basicResolverFrequency</string>
	<key>sinkDecoratorEdge</key>
	<string>buttonAsOperation</string>
</dict>
</plist>
