<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTaskBrightness</key>
	<string>resilientExponentColor</string>
	<key>discardedAlignmentDuration</key>
	<string>tensorCoordinatorKind</string>
	<key>durationLikeLayer</key>
	<string>chapterAlongChain</string>
	<key>flexFormDepth</key>
	<string>deferredSineStatus</string>
	<key>interactorLikeKind</key>
	<string>displayableSpecifierHue</string>
	<key>mobileZoneOffset</key>
	<string>materialDuringJob</string>
	<key>optimizerTypeStatus</key>
	<string>positionOutsideObserver</string>
	<key>topicModeStatus</key>
	<string>memberThroughValue</string>
	<key>unactivatedActivityColor</key>
	<string>mutableSkinInterval</string>
</dict>
</plist>
