<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAdapterTag</key>
	<string>featureNumberVelocity</string>
	<key>cardInterpreterDepth</key>
	<string>directlyDelegateInterval</string>
	<key>challengeThanVar</key>
	<string>lostOperationDensity</string>
	<key>customizedIndicatorBottom</key>
	<string>alignmentBesideForm</string>
	<key>displayableMultiplicationSkewx</key>
	<string>effectPatternTheme</string>
	<key>hashVarInset</key>
	<string>topicPrototypeOffset</string>
	<key>previewAroundCommand</key>
	<string>significantPreviewInterval</string>
	<key>shaderParamBrightness</key>
	<string>zoneInsideFacade</string>
	<key>slashStateStatus</key>
	<string>protectedTransitionMode</string>
	<key>taskBeyondMediator</key>
	<string>alertNearChain</string>
</dict>
</plist>
