<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicUsecaseDensity</key>
	<string>queueChainBehavior</string>
	<key>coordinatorActivityTransparency</key>
	<string>animationNearCommand</string>
	<key>crudeAlphaTop</key>
	<string>descriptorFormTail</string>
	<key>dedicatedNotifierFormat</key>
	<string>primaryMomentumEdge</string>
	<key>handlerVersusFacade</key>
	<string>statelessLikePattern</string>
	<key>inheritedEquipmentStyle</key>
	<string>tickerInsideJob</string>
	<key>normalAnimationBehavior</key>
	<string>sustainableDialogsMomentum</string>
	<key>oldPopupLeft</key>
	<string>prismaticChartState</string>
	<key>slashEnvironmentRotation</key>
	<string>widgetLevelShade</string>
	<key>textureAlongSystem</key>
	<string>widgetVarDensity</string>
</dict>
</plist>
