<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterDecoratorLeft</key>
	<string>commonLoopType</string>
	<key>curveFormState</key>
	<string>normUntilMode</string>
	<key>disparateScaleStatus</key>
	<string>activityOfCycle</string>
	<key>presenterEnvironmentVelocity</key>
	<string>chartNearVisitor</string>
	<key>scaleCycleShade</key>
	<string>gridAtContext</string>
</dict>
</plist>
