<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSizeCount</key>
	<string>pinchableRepositoryBottom</string>
	<key>animatedCompositionIndex</key>
	<string>iconPrototypeDensity</string>
	<key>concreteCursorKind</key>
	<string>positionAwayMemento</string>
	<key>navigatorTierOpacity</key>
	<string>widgetDespiteMethod</string>
	<key>normalDecorationPressure</key>
	<string>routerChainBorder</string>
	<key>observerLikeSingleton</key>
	<string>compositionalWidgetMomentum</string>
	<key>oldEventKind</key>
	<string>parallelSwiftDistance</string>
	<key>tappableChannelRotation</key>
	<string>scaffoldShapeFlags</string>
	<key>textByAction</key>
	<string>appbarSystemFlags</string>
</dict>
</plist>
