<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGroupTag</key>
	<string>delicateLayoutTheme</string>
	<key>chapterTierMode</key>
	<string>cupertinoAwayEnvironment</string>
	<key>intensityParameterPosition</key>
	<string>imperativeStepAppearance</string>
	<key>methodValueTag</key>
	<string>euclideanHandlerTail</string>
	<key>observerAndProcess</key>
	<string>easyCupertinoBehavior</string>
	<key>presenterFunctionDuration</key>
	<string>comprehensiveReducerDuration</string>
</dict>
</plist>
