<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletThroughFunction</key>
	<string>fusedSceneOpacity</string>
	<key>catalystBufferFlags</key>
	<string>columnTypeShade</string>
	<key>chartAroundScope</key>
	<string>tweenOrMethod</string>
	<key>controllerPrototypeFlags</key>
	<string>scrollProcessVisibility</string>
	<key>durationInterpreterMode</key>
	<string>animationInterpreterHue</string>
	<key>loopBesideShape</key>
	<string>inactiveWidgetResponse</string>
	<key>previewContextScale</key>
	<string>enabledPrecisionContrast</string>
	<key>requestOfAdapter</key>
	<string>functionalCapacitiesAppearance</string>
	<key>responseParamFeedback</key>
	<string>relationalUtilLeft</string>
	<key>skirtContextDepth</key>
	<string>symbolNearPrototype</string>
</dict>
</plist>
