<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFunctionStyle</key>
	<string>autoLocalizationShade</string>
	<key>buttonLikeObserver</key>
	<string>hashAwayPlatform</string>
	<key>draggableNibResponse</key>
	<string>methodLevelBorder</string>
	<key>finalConstraintBrightness</key>
	<string>custompaintWorkVelocity</string>
	<key>functionalCompletionDelay</key>
	<string>webColumnVisible</string>
	<key>musicIncludeEnvironment</key>
	<string>sophisticatedActivityInterval</string>
	<key>priorActionCenter</key>
	<string>explicitSemanticsOffset</string>
	<key>smallListenerOffset</key>
	<string>nibNumberPosition</string>
</dict>
</plist>
