<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerExceptDecorator</key>
	<string>intensityStateDensity</string>
	<key>immutableContractionTag</key>
	<string>skirtFormSkewx</string>
	<key>nativeScaffoldBottom</key>
	<string>grainAsParameter</string>
	<key>publicResourceStyle</key>
	<string>liteSampleOffset</string>
	<key>synchronousInjectionDuration</key>
	<string>catalystTypeRate</string>
	<key>themeAgainstFacade</key>
	<string>cubitForFunction</string>
</dict>
</plist>
