<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleVersusType</key>
	<string>tweenWithNumber</string>
	<key>fragmentProcessSize</key>
	<string>constraintPerParam</string>
	<key>intuitiveRepositoryTail</key>
	<string>inactiveHandlerBehavior</string>
	<key>significantSpotFrequency</key>
	<string>rectMementoLocation</string>
</dict>
</plist>
