<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSpecifierDirection</key>
	<string>resolverOutsideMethod</string>
	<key>boxAsLevel</key>
	<string>activitySingletonType</string>
	<key>exponentByContext</key>
	<string>injectionAboutPhase</string>
	<key>intensityByFramework</key>
	<string>composableBuilderSkewx</string>
	<key>nextStreamShade</key>
	<string>eagerDependencySkewx</string>
	<key>smartBlocState</key>
	<string>methodActionAcceleration</string>
</dict>
</plist>
