<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTextfieldColor</key>
	<string>mainInstructionBottom</string>
	<key>documentEnvironmentMargin</key>
	<string>gramStructureBorder</string>
	<key>profileThroughPattern</key>
	<string>unaryTaskSpacing</string>
	<key>robustProviderSpeed</key>
	<string>kernelUntilStage</string>
</dict>
</plist>
