<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAwayOperation</key>
	<string>parallelNavigatorRate</string>
	<key>constraintKindSaturation</key>
	<string>hashLayerOffset</string>
	<key>cubitFacadeHead</key>
	<string>vectorSingletonTop</string>
	<key>eagerCharacterValidation</key>
	<string>mutablePainterLeft</string>
	<key>hashStageEdge</key>
	<string>navigationFormKind</string>
	<key>layerModeStatus</key>
	<string>usedAnimatedcontainerInteraction</string>
	<key>layoutFlyweightLeft</key>
	<string>elasticTechniqueDelay</string>
	<key>listviewAwayActivity</key>
	<string>rowExceptTemple</string>
	<key>sophisticatedResourceSkewy</key>
	<string>stampCommandRight</string>
	<key>themeTaskDuration</key>
	<string>threadOfState</string>
</dict>
</plist>
