<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileExceptionDirection</key>
	<string>taskActionFrequency</string>
	<key>associatedTransformerAcceleration</key>
	<string>permissiveManagerValidation</string>
	<key>immutableSceneKind</key>
	<string>matrixSinceLayer</string>
	<key>intensityLikeNumber</key>
	<string>materialStrategyBrightness</string>
	<key>interfaceAgainstType</key>
	<string>textfieldSinceType</string>
	<key>tweenAboutPlatform</key>
	<string>alphaNumberCenter</string>
	<key>usecaseWithoutLayer</key>
	<string>specifyCurveCenter</string>
</dict>
</plist>
