<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRouteDelay</key>
	<string>textValueBound</string>
	<key>errorFrameworkTop</key>
	<string>coordinatorInsideFunction</string>
	<key>inkwellBeyondSingleton</key>
	<string>explicitBitrateBound</string>
	<key>interactivePageviewMargin</key>
	<string>assetAmongKind</string>
	<key>localizationCycleRotation</key>
	<string>managerInBuffer</string>
	<key>promiseUntilInterpreter</key>
	<string>resultValueRate</string>
	<key>requestCompositeSkewx</key>
	<string>symmetricProviderCoord</string>
	<key>secondReductionHue</key>
	<string>getxEnvironmentHue</string>
	<key>utilShapeVelocity</key>
	<string>menuVersusType</string>
</dict>
</plist>
