<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAsSystem</key>
	<string>eventActivityHead</string>
	<key>inheritedMomentumInterval</key>
	<string>equalizationSincePlatform</string>
	<key>providerTypeLocation</key>
	<string>tappableEquipmentFrequency</string>
	<key>sophisticatedNotifierOffset</key>
	<string>featureAgainstVariable</string>
</dict>
</plist>
