<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionViaWork</key>
	<string>modelViaMode</string>
	<key>inkwellFlyweightSpacing</key>
	<string>gridNearStage</string>
	<key>statefulIndicatorCount</key>
	<string>screenPlatformSkewx</string>
	<key>techniqueVersusStrategy</key>
	<string>subtleGraphicResponse</string>
</dict>
</plist>
