<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxActivityIndex</key>
	<string>textUntilState</string>
	<key>dependencyBufferTension</key>
	<string>singletonFunctionPosition</string>
	<key>descriptionMediatorBorder</key>
	<string>playbackLikePhase</string>
	<key>difficultStackBottom</key>
	<string>immutableTaskDirection</string>
	<key>directlyEqualizationDistance</key>
	<string>independentNavigatorType</string>
	<key>equalizationInPhase</key>
	<string>cycleChainPadding</string>
	<key>transitionFromDecorator</key>
	<string>flexTypeFrequency</string>
</dict>
</plist>
