<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionDuringVariable</key>
	<string>discardedDimensionKind</string>
	<key>consumerLayerBehavior</key>
	<string>autoEventDirection</string>
	<key>descriptionThanStrategy</key>
	<string>decorationJobState</string>
	<key>grayscaleBridgeIndex</key>
	<string>exponentScopeStyle</string>
	<key>hashFunctionRate</key>
	<string>serviceLayerLeft</string>
	<key>newestSensorRate</key>
	<string>gateVersusBuffer</string>
	<key>resultScopeTension</key>
	<string>smartNavigatorSaturation</string>
	<key>scrollablePreviewVisibility</key>
	<string>tabviewViaParameter</string>
	<key>timerExceptCommand</key>
	<string>pivotalTransitionTop</string>
</dict>
</plist>
