<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoPaddingContrast</key>
	<string>contractionTierShade</string>
	<key>boxCycleInteraction</key>
	<string>substantialSpriteFeedback</string>
	<key>cubeFormTransparency</key>
	<string>layoutInSingleton</string>
	<key>equipmentOperationInset</key>
	<string>unsortedCoordinatorContrast</string>
	<key>exponentModeAlignment</key>
	<string>immutableOperationSkewy</string>
	<key>musicCompositeLocation</key>
	<string>fixedSpriteStyle</string>
	<key>plateKindSpacing</key>
	<string>gemModeTag</string>
	<key>specifierAtTier</key>
	<string>listenerContainAdapter</string>
	<key>widgetAboutSingleton</key>
	<string>presenterBesideForm</string>
	<key>zoneDespiteParameter</key>
	<string>retainedAppbarVisibility</string>
</dict>
</plist>
