<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityPhaseSpacing</key>
	<string>spineLikePrototype</string>
	<key>modelTierValidation</key>
	<string>queryFrameworkAppearance</string>
	<key>resourceSinceBridge</key>
	<string>animatedcontainerIncludeContext</string>
	<key>sliderVarSpeed</key>
	<string>threadLevelFeedback</string>
	<key>stampNearVar</key>
	<string>newestTaskMomentum</string>
	<key>synchronousCompositionTheme</key>
	<string>variantVarHead</string>
	<key>transformerStateContrast</key>
	<string>liteCommandOffset</string>
	<key>utilSystemShape</key>
	<string>independentOperationLeft</string>
</dict>
</plist>
