<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleObserverShape</key>
	<string>deferredConsumerFormat</string>
	<key>imageFrameworkIndex</key>
	<string>taskVarFrequency</string>
	<key>persistentSinkPosition</key>
	<string>optimizerLikeWork</string>
	<key>pivotalPreviewValidation</key>
	<string>bufferBridgeOrigin</string>
	<key>specifyRepositoryOrigin</key>
	<string>directPromiseRight</string>
</dict>
</plist>
