<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateInSingleton</key>
	<string>completionOutsideStructure</string>
	<key>listenerValueDepth</key>
	<string>agileTimerDepth</string>
	<key>nodeVersusBridge</key>
	<string>descriptionParameterKind</string>
	<key>rowAtPlatform</key>
	<string>threadAmongFramework</string>
	<key>storageAgainstProcess</key>
	<string>discardedRichtextVisible</string>
</dict>
</plist>
