<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerActivitySpeed</key>
	<string>rapidRowMode</string>
	<key>ignoredMediaType</key>
	<string>crucialOptionInset</string>
	<key>mediocreConsumerEdge</key>
	<string>commandAsState</string>
	<key>responsiveIntensityPadding</key>
	<string>mutableGrainTransparency</string>
</dict>
</plist>
