<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerNumberTint</key>
	<string>criticalHashKind</string>
	<key>instructionAsVar</key>
	<string>timerJobRotation</string>
	<key>routeThanCommand</key>
	<string>mobxInterpreterDelay</string>
	<key>seamlessCoordinatorIndex</key>
	<string>mapAlongLayer</string>
	<key>segmentExceptPattern</key>
	<string>cubitContainTier</string>
	<key>tweenActionKind</key>
	<string>aspectForMemento</string>
	<key>uniformContainerStyle</key>
	<string>radioExceptAction</string>
</dict>
</plist>
