<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryProxyContrast</key>
	<string>requestAroundVisitor</string>
	<key>flexDespiteAction</key>
	<string>intuitiveBorderForce</string>
	<key>nibParamBorder</key>
	<string>tabbarNearStyle</string>
	<key>statelessStreamTag</key>
	<string>scrollableActionBound</string>
</dict>
</plist>
