<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCanvasTint</key>
	<string>notificationIncludeParam</string>
	<key>alphaStateLeft</key>
	<string>cupertinoShapeBrightness</string>
	<key>dialogsPlatformStatus</key>
	<string>disabledListviewVelocity</string>
	<key>extensionPatternTag</key>
	<string>blocAlongParameter</string>
	<key>hashContainChain</key>
	<string>unsortedManagerMargin</string>
	<key>mutableManagerInterval</key>
	<string>permissiveGramStyle</string>
	<key>providerVisitorSaturation</key>
	<string>sessionPlatformTint</string>
	<key>temporaryMapResponse</key>
	<string>uniformTransformerSkewx</string>
</dict>
</plist>
