<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferObserverRight</key>
	<string>concurrentAllocatorTag</string>
	<key>cellAdapterBehavior</key>
	<string>catalystTempleCount</string>
	<key>factoryAgainstVisitor</key>
	<string>logSingletonVisible</string>
</dict>
</plist>
