<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFrameCoord</key>
	<string>isolateScopeVelocity</string>
	<key>batchKindTag</key>
	<string>skinStructureCoord</string>
	<key>capsuleEnvironmentTail</key>
	<string>publicTopicStyle</string>
	<key>heroWithoutMethod</key>
	<string>captionChainColor</string>
	<key>interactiveRoleDelay</key>
	<string>gridviewContainParam</string>
	<key>layerPatternFlags</key>
	<string>nativePopupRate</string>
	<key>specifyProviderDirection</key>
	<string>synchronousPlaybackInset</string>
</dict>
</plist>
