<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectExceptType</key>
	<string>tweenAmongObserver</string>
	<key>entropyByNumber</key>
	<string>checklistLevelTop</string>
	<key>interpolationLevelSaturation</key>
	<string>sinkBufferDensity</string>
	<key>keySwitchMargin</key>
	<string>builderTypeColor</string>
	<key>sortedStoreAppearance</key>
	<string>compositionalListenerRight</string>
</dict>
</plist>
