<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureIncludePhase</key>
	<string>petTypeHead</string>
	<key>channelTempleHead</key>
	<string>liteMediaqueryType</string>
	<key>equipmentScopePosition</key>
	<string>publicBatchFrequency</string>
	<key>gateBesidePattern</key>
	<string>swiftPerStyle</string>
	<key>heapObserverOpacity</key>
	<string>storeDespiteVar</string>
	<key>nextMetadataIndex</key>
	<string>alertBesideCycle</string>
</dict>
</plist>
