<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonProviderDistance</key>
	<string>statefulCheckboxShade</string>
	<key>discardedHistogramTension</key>
	<string>builderValueTension</string>
	<key>labelSinceMode</key>
	<string>marginBeyondFramework</string>
	<key>navigatorExceptPrototype</key>
	<string>listenerVariableBottom</string>
	<key>sineBesideFunction</key>
	<string>visibleCurveSaturation</string>
	<key>skinOrMemento</key>
	<string>comprehensiveBatchDelay</string>
	<key>spriteViaValue</key>
	<string>staticObserverBrightness</string>
</dict>
</plist>
