<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitValueOffset</key>
	<string>materialProgressbarOrigin</string>
	<key>denseServiceAcceleration</key>
	<string>variantKindShade</string>
	<key>errorDuringMode</key>
	<string>bufferWithSystem</string>
	<key>immutableResolverBottom</key>
	<string>associatedHistogramOrigin</string>
	<key>liteNotificationContrast</key>
	<string>sizeDuringPlatform</string>
	<key>staticSizeBehavior</key>
	<string>widgetCommandRate</string>
	<key>titleTierSkewy</key>
	<string>indicatorVisitorDelay</string>
	<key>usedCupertinoName</key>
	<string>bufferScopeType</string>
	<key>zoneActivityBorder</key>
	<string>mobileInjectionLocation</string>
</dict>
</plist>
