<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationAtObserver</key>
	<string>nextBlocVisible</string>
	<key>projectOrStyle</key>
	<string>taskAndPlatform</string>
	<key>themeAgainstPattern</key>
	<string>optionVarAlignment</string>
</dict>
</plist>
