<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInVar</key>
	<string>screenStateType</string>
	<key>contractionModeOpacity</key>
	<string>projectContainActivity</string>
	<key>customResponseCenter</key>
	<string>resourceModeDistance</string>
	<key>decorationInsideFunction</key>
	<string>handlerKindSpacing</string>
	<key>isolateJobSaturation</key>
	<string>multiplicationLayerCenter</string>
	<key>lostBlocFrequency</key>
	<string>gridviewFacadePressure</string>
</dict>
</plist>
