<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerVarAcceleration</key>
	<string>descriptorOrDecorator</string>
	<key>gridAwayKind</key>
	<string>tabbarFunctionSkewy</string>
	<key>immediateSignShade</key>
	<string>webThemeRight</string>
	<key>tangentPerVar</key>
	<string>buttonVisitorSpeed</string>
</dict>
</plist>
