<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCommandBottom</key>
	<string>resourceNearChain</string>
	<key>bufferActivitySize</key>
	<string>mutableTextValidation</string>
	<key>bufferAwayShape</key>
	<string>singletonOutsidePhase</string>
	<key>bufferTypeBound</key>
	<string>statelessLayerState</string>
	<key>compositionalEquipmentDirection</key>
	<string>retainedSceneFrequency</string>
	<key>crucialConvolutionFormat</key>
	<string>titleAgainstJob</string>
	<key>listenerWithActivity</key>
	<string>builderInCommand</string>
	<key>resourcePerTemple</key>
	<string>uniformNavigatorKind</string>
	<key>textInFramework</key>
	<string>tappableChartBorder</string>
</dict>
</plist>
