<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAlongState</key>
	<string>resourceActivityMomentum</string>
	<key>gramWithoutState</key>
	<string>spineInterpreterVelocity</string>
	<key>inactiveRiverpodMargin</key>
	<string>logarithmFacadeLeft</string>
	<key>newestResolverSpeed</key>
	<string>methodKindFeedback</string>
	<key>resolverPlatformLocation</key>
	<string>consultativeObserverName</string>
	<key>stateNumberBrightness</key>
	<string>asyncInterpolationSpeed</string>
</dict>
</plist>
