<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelOutsideBridge</key>
	<string>staticTableName</string>
	<key>errorActionCenter</key>
	<string>heapObserverType</string>
	<key>lostConfigurationLeft</key>
	<string>nodeActivityTag</string>
	<key>mediaquerySingletonColor</key>
	<string>segmentFunctionBorder</string>
	<key>sessionDuringParam</key>
	<string>cursorContainContext</string>
	<key>storageAroundLayer</key>
	<string>rowInsideOperation</string>
	<key>zoneNearNumber</key>
	<string>materialInkwellScale</string>
</dict>
</plist>
