<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBufferShape</key>
	<string>variantJobBottom</string>
	<key>capacitiesIncludeNumber</key>
	<string>navigatorIncludeSingleton</string>
	<key>currentChartIndex</key>
	<string>sequentialTweenDistance</string>
	<key>entityProcessStatus</key>
	<string>cycleAwayVar</string>
	<key>histogramStateKind</key>
	<string>commonChapterTail</string>
	<key>inkwellFlyweightScale</key>
	<string>dialogsBeyondOperation</string>
	<key>loopAndTier</key>
	<string>immediateStoryboardShade</string>
	<key>sequentialSingletonDirection</key>
	<string>repositoryOfMemento</string>
	<key>skinLayerMargin</key>
	<string>managerByCycle</string>
	<key>stateMethodDirection</key>
	<string>customFrameVisible</string>
</dict>
</plist>
