<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryInterpreterSize</key>
	<string>precisionStateShape</string>
	<key>canvasActionFlags</key>
	<string>completionCompositeResponse</string>
	<key>controllerVisitorDensity</key>
	<string>threadThroughForm</string>
	<key>labelTempleSpacing</key>
	<string>blocAboutVisitor</string>
	<key>layerVisitorBorder</key>
	<string>newestInstructionTransparency</string>
</dict>
</plist>
