<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerDependencyInset</key>
	<string>resourceByProxy</string>
	<key>capacitiesForSystem</key>
	<string>taskForKind</string>
	<key>constEffectValidation</key>
	<string>completerInProcess</string>
	<key>inheritedCubitSize</key>
	<string>alertAndTemple</string>
	<key>layoutExceptFlyweight</key>
	<string>vectorContextPadding</string>
	<key>nativeUtilColor</key>
	<string>radiusSincePrototype</string>
	<key>newestPlateInteraction</key>
	<string>routeInsideCommand</string>
	<key>nodeFrameworkIndex</key>
	<string>subsequentErrorDepth</string>
	<key>reducerOutsideBridge</key>
	<string>referencePlatformKind</string>
	<key>rowPrototypeRight</key>
	<string>tablePatternTail</string>
</dict>
</plist>
