<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalExceptionLeft</key>
	<string>canvasAwayVisitor</string>
	<key>interfaceEnvironmentResponse</key>
	<string>statelessProjectSpacing</string>
	<key>materialWithoutJob</key>
	<string>inactiveFeatureAppearance</string>
	<key>nativeIntegerName</key>
	<string>similarRouterSpeed</string>
	<key>protocolAtChain</key>
	<string>adaptiveRowFlags</string>
	<key>utilAgainstMode</key>
	<string>documentAroundContext</string>
</dict>
</plist>
