<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaOperationKind</key>
	<string>retainedTabviewPressure</string>
	<key>effectContextSize</key>
	<string>techniqueInterpreterBound</string>
	<key>factoryAtFramework</key>
	<string>vectorSystemRate</string>
	<key>methodShapeLocation</key>
	<string>granularWidgetMode</string>
	<key>playbackWorkInterval</key>
	<string>difficultHistogramBehavior</string>
	<key>sizeIncludeForm</key>
	<string>subpixelThanStyle</string>
</dict>
</plist>
