<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorVisitorHead</key>
	<string>clipperUntilProcess</string>
	<key>protectedAllocatorBorder</key>
	<string>invisibleDurationName</string>
	<key>reductionTempleVisible</key>
	<string>sessionAndVisitor</string>
	<key>viewStateDuration</key>
	<string>numericalPopupTension</string>
</dict>
</plist>
