<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionFromComposite</key>
	<string>mapPhaseShape</string>
	<key>diffableRectTag</key>
	<string>dropdownbuttonThroughDecorator</string>
	<key>particleOfComposite</key>
	<string>requestThroughState</string>
	<key>standaloneInkwellBorder</key>
	<string>sliderAboutValue</string>
	<key>utilDuringAdapter</key>
	<string>symmetricTaskMomentum</string>
</dict>
</plist>
