<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemFacadeRight</key>
	<string>popupVersusActivity</string>
	<key>specifyGrayscaleOrientation</key>
	<string>compositionalCallbackTheme</string>
	<key>usedConfigurationTheme</key>
	<string>singletonOfAdapter</string>
</dict>
</plist>
