<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackIncludeParam</key>
	<string>interfaceFlyweightContrast</string>
	<key>getxExceptObserver</key>
	<string>typicalDocumentStyle</string>
	<key>labelTaskCenter</key>
	<string>queueStageIndex</string>
	<key>managerDespitePlatform</key>
	<string>awaitDecoratorEdge</string>
	<key>utilBesideChain</key>
	<string>futureParamAppearance</string>
</dict>
</plist>
