<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitContainMethod</key>
	<string>cartesianSpecifierOrigin</string>
	<key>mainChartCount</key>
	<string>blocVariableDelay</string>
	<key>stampTempleVisible</key>
	<string>independentGroupTag</string>
</dict>
</plist>
