<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyInterpreterPosition</key>
	<string>priorityAsPhase</string>
	<key>petWithoutFunction</key>
	<string>drawerUntilTask</string>
	<key>spriteSingletonCount</key>
	<string>vectorVarFeedback</string>
	<key>transitionFlyweightShade</key>
	<string>substantialBuilderOffset</string>
</dict>
</plist>
