<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSkinBorder</key>
	<string>eagerTransitionAppearance</string>
	<key>fusedResultSpeed</key>
	<string>eventActivityDelay</string>
	<key>hardNotificationCoord</key>
	<string>liteFeatureKind</string>
	<key>layoutAlongLevel</key>
	<string>listenerAroundPattern</string>
	<key>memberPrototypeValidation</key>
	<string>matrixOperationBottom</string>
	<key>navigatorAboutCycle</key>
	<string>synchronousIntensityVelocity</string>
	<key>rapidResolverOrigin</key>
	<string>similarReductionInset</string>
	<key>synchronousAsyncMargin</key>
	<string>ephemeralTabviewDistance</string>
</dict>
</plist>
