<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionViaFlyweight</key>
	<string>getxAmongChain</string>
	<key>desktopMemberPressure</key>
	<string>multiplicationSinceFramework</string>
	<key>disabledPromiseShape</key>
	<string>repositoryStyleCenter</string>
	<key>explicitCubeDepth</key>
	<string>basicBuilderRight</string>
	<key>inheritedIntegerColor</key>
	<string>webBitrateHue</string>
	<key>managerAmongPattern</key>
	<string>intensityTaskBottom</string>
	<key>modulusMediatorVisible</key>
	<string>backwardAlphaTail</string>
	<key>positionedAtDecorator</key>
	<string>tweenAsLevel</string>
	<key>resultContextSpacing</key>
	<string>respectiveObserverBrightness</string>
	<key>textInStrategy</key>
	<string>customAnchorDuration</string>
</dict>
</plist>
