<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartThroughJob</key>
	<string>consultativeToolRate</string>
	<key>concreteCoordinatorCount</key>
	<string>graphTierTop</string>
	<key>granularListenerFlags</key>
	<string>entropyAndFramework</string>
	<key>graphWithAdapter</key>
	<string>awaitParameterSkewx</string>
	<key>presenterStageAppearance</key>
	<string>alignmentWithVisitor</string>
</dict>
</plist>
