<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectChainCoord</key>
	<string>cellCommandTop</string>
	<key>enabledObserverValidation</key>
	<string>textDuringParameter</string>
	<key>exceptionViaVariable</key>
	<string>listenerSingletonBrightness</string>
	<key>firstUtilCoord</key>
	<string>durationAmongAdapter</string>
	<key>frameTypeSkewx</key>
	<string>priorDescriptionShape</string>
	<key>handlerBesideBuffer</key>
	<string>fusedContainerCount</string>
	<key>interactorCompositeType</key>
	<string>protocolDespiteDecorator</string>
	<key>metadataAlongActivity</key>
	<string>concurrentSwitchPressure</string>
	<key>serviceCompositePadding</key>
	<string>axisFrameworkAppearance</string>
	<key>widgetPerMethod</key>
	<string>containerViaNumber</string>
</dict>
</plist>
