<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperFunctionStyle</key>
	<string>originalRoleTail</string>
	<key>futureTaskFormat</key>
	<string>cartesianBlocForce</string>
	<key>immutableGiftValidation</key>
	<string>custompaintModeStyle</string>
	<key>keyStepHead</key>
	<string>normalMapBorder</string>
	<key>layoutEnvironmentSize</key>
	<string>alignmentLevelMode</string>
	<key>popupParamOpacity</key>
	<string>chartDespiteLevel</string>
	<key>topicAsVariable</key>
	<string>opaquePointPosition</string>
	<key>zoneInPattern</key>
	<string>controllerKindStatus</string>
</dict>
</plist>
