<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticChallengeInterval</key>
	<string>originalBaselineLocation</string>
	<key>rectThroughLevel</key>
	<string>widgetStyleTag</string>
</dict>
</plist>
