<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedBatchScale</key>
	<string>grainAwayAction</string>
	<key>buttonSinceForm</key>
	<string>kernelAroundPrototype</string>
	<key>commonControllerTail</key>
	<string>blocAmongCommand</string>
	<key>entityIncludeScope</key>
	<string>iterativeConfigurationTop</string>
	<key>interpolationStateBottom</key>
	<string>textValueDistance</string>
	<key>missionWorkSpeed</key>
	<string>handlerProcessVelocity</string>
	<key>offsetVisitorOrientation</key>
	<string>petPerComposite</string>
	<key>sliderCompositeTop</key>
	<string>mainSizeEdge</string>
	<key>stateStrategyBound</key>
	<string>batchSingletonStyle</string>
	<key>titleFrameworkStyle</key>
	<string>smallQueryIndex</string>
</dict>
</plist>
