<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncZoneSize</key>
	<string>symmetricModalMode</string>
	<key>cellProxyMargin</key>
	<string>shaderAndVar</string>
	<key>containerWithoutFacade</key>
	<string>smartResultCount</string>
	<key>customizedSpineBottom</key>
	<string>cupertinoNodeTag</string>
	<key>resultTypeBound</key>
	<string>localizationAgainstWork</string>
	<key>signatureLevelCenter</key>
	<string>transformerUntilStyle</string>
	<key>unsortedProgressbarSaturation</key>
	<string>alphaByCommand</string>
</dict>
</plist>
