<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitValueKind</key>
	<string>radiusOutsideShape</string>
	<key>compositionPlatformFrequency</key>
	<string>activeNodeValidation</string>
	<key>nextLogarithmAlignment</key>
	<string>asyncAtInterpreter</string>
	<key>substantialSceneDelay</key>
	<string>primaryTabviewForce</string>
	<key>ternaryPatternBound</key>
	<string>euclideanBoxshadowTail</string>
</dict>
</plist>
