<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityStrategyCenter</key>
	<string>keyResponseTheme</string>
	<key>brushJobTransparency</key>
	<string>arithmeticAroundLayer</string>
	<key>diffableCallbackKind</key>
	<string>inheritedDecorationTail</string>
	<key>immediateProgressbarSkewx</key>
	<string>responseInVar</string>
	<key>modelDuringAction</key>
	<string>sliderAndAdapter</string>
	<key>slashLevelRight</key>
	<string>durationModePadding</string>
</dict>
</plist>
