<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorNearProxy</key>
	<string>agileRequestTag</string>
	<key>composableDrawerInterval</key>
	<string>histogramAndVisitor</string>
	<key>ephemeralButtonMomentum</key>
	<string>eventMethodTag</string>
	<key>loopModeSaturation</key>
	<string>specifyProjectionOpacity</string>
	<key>menuLevelHue</key>
	<string>liteProjectionBrightness</string>
	<key>metadataOperationFrequency</key>
	<string>textureChainTail</string>
	<key>routeWithoutObserver</key>
	<string>gridOfComposite</string>
	<key>tappableGroupInteraction</key>
	<string>textfieldVariableOrientation</string>
	<key>widgetPerTask</key>
	<string>textPerPhase</string>
</dict>
</plist>
