<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAwayValue</key>
	<string>accessibleCompleterTension</string>
	<key>durationCompositeTail</key>
	<string>reductionMethodMode</string>
	<key>layoutCycleTransparency</key>
	<string>alignmentFrameworkScale</string>
	<key>lazyInterpolationSize</key>
	<string>sceneAlongPrototype</string>
	<key>repositoryParameterInterval</key>
	<string>heapTaskResponse</string>
	<key>routeViaActivity</key>
	<string>mainSingletonScale</string>
	<key>segmentChainAlignment</key>
	<string>constAnchorTransparency</string>
	<key>similarRepositoryMomentum</key>
	<string>richtextSinceFacade</string>
</dict>
</plist>
