<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncOutsideObserver</key>
	<string>displayableOptionAppearance</string>
	<key>captionPrototypeSpeed</key>
	<string>brushViaStrategy</string>
	<key>cosineForBuffer</key>
	<string>currentTaskAppearance</string>
	<key>custompaintDecoratorFormat</key>
	<string>singleFactoryResponse</string>
	<key>histogramAmongForm</key>
	<string>originalSinkMargin</string>
	<key>radiusChainIndex</key>
	<string>scaffoldUntilForm</string>
	<key>singletonJobOrigin</key>
	<string>scrollThanStructure</string>
</dict>
</plist>
