<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerMementoScale</key>
	<string>normalDrawerVisible</string>
	<key>mapStageName</key>
	<string>presenterStageInset</string>
	<key>rectAwayParam</key>
	<string>reusableSinkHue</string>
	<key>subpixelAndValue</key>
	<string>sizeByForm</string>
</dict>
</plist>
