<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityVarTension</key>
	<string>transitionSinceType</string>
	<key>flexPerCommand</key>
	<string>globalDropdownbuttonBound</string>
	<key>mediocrePaddingInteraction</key>
	<string>sharedParticleTint</string>
	<key>nextBuilderBehavior</key>
	<string>deferredAssetCount</string>
	<key>resultMethodCount</key>
	<string>publicRouteFlags</string>
</dict>
</plist>
