<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveFeatureKind</key>
	<string>uniqueEffectCenter</string>
	<key>assetPlatformBound</key>
	<string>curveWithVisitor</string>
	<key>concreteBuilderDensity</key>
	<string>labelWithAction</string>
	<key>consultativeBoxshadowTail</key>
	<string>transformerAgainstBridge</string>
	<key>durationAndPrototype</key>
	<string>crucialTimerAcceleration</string>
	<key>dynamicRouteName</key>
	<string>lazyTextTag</string>
	<key>explicitActionHead</key>
	<string>globalOptionTension</string>
	<key>gridBridgeSpeed</key>
	<string>eagerMusicOrigin</string>
	<key>progressbarUntilAction</key>
	<string>radioLikeFramework</string>
	<key>symmetricResponsePadding</key>
	<string>fusedTimerCenter</string>
</dict>
</plist>
