<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBesideFramework</key>
	<string>particleParameterEdge</string>
	<key>behaviorVarAcceleration</key>
	<string>responsiveUtilKind</string>
	<key>borderFormShade</key>
	<string>textfieldDespiteOperation</string>
	<key>channelFromParameter</key>
	<string>commonCoordinatorBound</string>
</dict>
</plist>
