<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletOrScope</key>
	<string>explicitGraphPressure</string>
	<key>materialWorkflowTail</key>
	<string>serviceAdapterStatus</string>
	<key>notifierByValue</key>
	<string>bulletFormVelocity</string>
	<key>projectionTempleColor</key>
	<string>roleOutsideCommand</string>
	<key>radiusBesideDecorator</key>
	<string>errorJobTag</string>
	<key>sceneDespiteChain</key>
	<string>permissiveRectSkewx</string>
</dict>
</plist>
