<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianEntityOrigin</key>
	<string>immediateInteractorMargin</string>
	<key>gestureInsideProcess</key>
	<string>composableActivityName</string>
	<key>granularIndicatorResponse</key>
	<string>displayableIntensityTail</string>
	<key>interactorAboutBridge</key>
	<string>symbolIncludeForm</string>
	<key>modelOfCycle</key>
	<string>fusedLabelSpacing</string>
	<key>routeParamContrast</key>
	<string>widgetNumberMode</string>
	<key>scaffoldWorkRotation</key>
	<string>chartWithoutActivity</string>
	<key>sliderInComposite</key>
	<string>aspectratioTempleTheme</string>
	<key>taskOfSingleton</key>
	<string>parallelMonsterTint</string>
</dict>
</plist>
