<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackThanNumber</key>
	<string>disparateSubpixelKind</string>
	<key>coordinatorDespiteLayer</key>
	<string>resolverEnvironmentDirection</string>
	<key>getxBridgeLeft</key>
	<string>statelessDocumentShade</string>
	<key>lastColumnDelay</key>
	<string>animatedcontainerKindOffset</string>
	<key>optionIncludeMediator</key>
	<string>mutableStampScale</string>
	<key>reducerOutsideState</key>
	<string>substantialMenuFrequency</string>
	<key>sinkParameterRate</key>
	<string>spriteBridgeOpacity</string>
	<key>threadOutsideWork</key>
	<string>batchAwayInterpreter</string>
	<key>usageIncludeParam</key>
	<string>apertureOrSingleton</string>
	<key>usageParamPosition</key>
	<string>futureEnvironmentColor</string>
</dict>
</plist>
