<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnCycleInterval</key>
	<string>basePatternPosition</string>
	<key>cupertinoGradientAppearance</key>
	<string>skinCompositeStatus</string>
	<key>grainAmongInterpreter</key>
	<string>graphicInterpreterSkewx</string>
	<key>lazyResponseVisible</key>
	<string>reactiveAnchorDensity</string>
	<key>particleTemplePressure</key>
	<string>interactorForBuffer</string>
	<key>widgetLikeMemento</key>
	<string>layoutValueFormat</string>
</dict>
</plist>
