<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePresenterAlignment</key>
	<string>controllerBeyondScope</string>
	<key>bitrateTierShade</key>
	<string>decorationParameterBorder</string>
	<key>builderOrTemple</key>
	<string>segueByObserver</string>
	<key>invisibleEquipmentBehavior</key>
	<string>tangentViaVar</string>
	<key>lostTweenOrientation</key>
	<string>buttonProxyLeft</string>
	<key>roleStructureSkewx</key>
	<string>resourceWithFacade</string>
	<key>tweenSingletonEdge</key>
	<string>invisibleLocalizationSkewx</string>
</dict>
</plist>
