<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectLikeCommand</key>
	<string>permanentDialogsName</string>
	<key>labelWithBridge</key>
	<string>observerMementoType</string>
	<key>subsequentMaterialRotation</key>
	<string>normAndKind</string>
	<key>taskFromEnvironment</key>
	<string>liteAlignmentCenter</string>
</dict>
</plist>
