<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentEntityHead</key>
	<string>mediaquerySystemBound</string>
	<key>cubitShapeRate</key>
	<string>resizableStorePadding</string>
	<key>gradientIncludeOperation</key>
	<string>entropyAboutProxy</string>
	<key>intermediateChannelShade</key>
	<string>smallGrayscaleCenter</string>
	<key>robustSliderType</key>
	<string>coordinatorChainLeft</string>
</dict>
</plist>
