<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTextTension</key>
	<string>gestureAlongValue</string>
	<key>cupertinoSwitchEdge</key>
	<string>timerVisitorColor</string>
	<key>dependencyLevelDistance</key>
	<string>binaryBeyondAdapter</string>
	<key>musicIncludeContext</key>
	<string>slashFacadeTension</string>
	<key>queryOrVar</key>
	<string>stateNearLevel</string>
	<key>visibleApertureVisible</key>
	<string>streamTierBehavior</string>
</dict>
</plist>
