<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInterpreterLocation</key>
	<string>containerEnvironmentPadding</string>
	<key>getxFunctionPressure</key>
	<string>resourceAdapterTail</string>
	<key>grainNumberCount</key>
	<string>paddingVersusMethod</string>
	<key>methodInStructure</key>
	<string>directlyPriorityShape</string>
	<key>pointCommandPosition</key>
	<string>listenerAroundPhase</string>
	<key>sophisticatedDurationInteraction</key>
	<string>reducerIncludeFacade</string>
	<key>stateContextSpacing</key>
	<string>gesturedetectorFormTheme</string>
	<key>touchDespiteChain</key>
	<string>matrixAgainstDecorator</string>
</dict>
</plist>
