<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedHashPadding</key>
	<string>symmetricAspectratioVisibility</string>
	<key>directAnimatedcontainerScale</key>
	<string>sophisticatedAlertRight</string>
	<key>factoryContainStrategy</key>
	<string>promiseDespiteDecorator</string>
	<key>factoryUntilParam</key>
	<string>advancedAnchorBehavior</string>
	<key>hierarchicalSemanticsShape</key>
	<string>scrollSinceSingleton</string>
	<key>prevAnimatedcontainerAcceleration</key>
	<string>graphicAgainstActivity</string>
	<key>primarySymbolSaturation</key>
	<string>statefulOperationRotation</string>
	<key>requestStageBound</key>
	<string>plateThroughAdapter</string>
	<key>singletonInComposite</key>
	<string>particleShapeEdge</string>
</dict>
</plist>
