<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyCapsuleDistance</key>
	<string>streamSinceFramework</string>
	<key>fragmentTypePadding</key>
	<string>symbolMediatorColor</string>
	<key>ignoredBufferTop</key>
	<string>basicControllerRotation</string>
	<key>interactorObserverScale</key>
	<string>frameThroughDecorator</string>
	<key>widgetAndPattern</key>
	<string>matrixFormInset</string>
</dict>
</plist>
