<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsBesideBuffer</key>
	<string>publicProgressbarBehavior</string>
	<key>mutableTransitionType</key>
	<string>fragmentUntilStyle</string>
	<key>standaloneChapterRate</key>
	<string>presenterStateVisible</string>
	<key>transformerDespiteForm</key>
	<string>euclideanSubpixelCoord</string>
</dict>
</plist>
