<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobxStateCenter</key>
	<string>graphParamTop</string>
	<key>pivotalHandlerColor</key>
	<string>requiredContainerInteraction</string>
	<key>spriteMethodOrientation</key>
	<string>primaryLayoutColor</string>
	<key>utilFromStrategy</key>
	<string>vectorLayerSpeed</string>
</dict>
</plist>
