<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerAsFramework</key>
	<string>widgetLikeForm</string>
	<key>matrixLayerShade</key>
	<string>handlerVariableName</string>
	<key>reducerLevelColor</key>
	<string>tappableSemanticsSpacing</string>
	<key>smallListenerIndex</key>
	<string>typicalAppbarSaturation</string>
	<key>stepMementoHead</key>
	<string>resolverAsPlatform</string>
</dict>
</plist>
