<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionActivityOrigin</key>
	<string>variantExceptStyle</string>
	<key>configurationWithoutStage</key>
	<string>canvasFromComposite</string>
	<key>largeLabelShade</key>
	<string>directViewFlags</string>
	<key>scrollableCoordinatorOrientation</key>
	<string>mainZoneAcceleration</string>
</dict>
</plist>
