<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxVisitorBorder</key>
	<string>containerAtSingleton</string>
	<key>decorationChainAcceleration</key>
	<string>profileByInterpreter</string>
	<key>firstRiverpodTag</key>
	<string>consumerFunctionSkewy</string>
	<key>parallelInterfaceTint</key>
	<string>significantLayerStatus</string>
</dict>
</plist>
