<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAgainstSingleton</key>
	<string>animatedRowEdge</string>
	<key>factoryThroughScope</key>
	<string>sceneVarType</string>
	<key>momentumNumberTop</key>
	<string>concurrentNibScale</string>
	<key>rectScopeForce</key>
	<string>stateStructureFeedback</string>
	<key>resolverBeyondForm</key>
	<string>inactiveCubitTransparency</string>
	<key>streamUntilParameter</key>
	<string>navigatorTypeMargin</string>
	<key>symbolActionDistance</key>
	<string>swiftMementoVelocity</string>
	<key>utilSingletonBottom</key>
	<string>oldInteractorFeedback</string>
</dict>
</plist>
