<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAgainstProxy</key>
	<string>bulletFrameworkDelay</string>
	<key>basicRepositoryLeft</key>
	<string>responseBeyondParam</string>
	<key>exceptionActionForce</key>
	<string>methodThanAdapter</string>
	<key>granularEffectAcceleration</key>
	<string>cosineMethodFlags</string>
	<key>immutableAsyncFeedback</key>
	<string>sizedboxOutsideObserver</string>
</dict>
</plist>
