<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletWithFacade</key>
	<string>backwardLabelBottom</string>
	<key>callbackStageBound</key>
	<string>particleAlongVar</string>
	<key>hashNearStrategy</key>
	<string>menuActivityBorder</string>
	<key>isolateByCycle</key>
	<string>navigatorPatternDistance</string>
	<key>sizePerScope</key>
	<string>agileDependencyBrightness</string>
	<key>sortedAlignmentSaturation</key>
	<string>resultParameterValidation</string>
	<key>uniqueRadiusFrequency</key>
	<string>navigatorFrameworkShade</string>
</dict>
</plist>
