<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetUntilParameter</key>
	<string>normalAxisShade</string>
	<key>callbackAndSingleton</key>
	<string>sceneAmongValue</string>
	<key>directlySinkInteraction</key>
	<string>requestOutsideVisitor</string>
	<key>granularErrorTint</key>
	<string>sortedEventResponse</string>
	<key>protectedProviderInterval</key>
	<string>gradientLayerVisible</string>
	<key>remainderAlongPhase</key>
	<string>overlayAsAdapter</string>
	<key>sophisticatedTangentState</key>
	<string>durationSinceStructure</string>
	<key>subsequentFlexInteraction</key>
	<string>logarithmFormTop</string>
</dict>
</plist>
