<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorUntilEnvironment</key>
	<string>rectExceptParameter</string>
	<key>delicateExpandedSkewy</key>
	<string>loopInterpreterInterval</string>
	<key>intensityScopeTag</key>
	<string>diffableIntensityDuration</string>
	<key>pointByType</key>
	<string>substantialRiverpodShape</string>
	<key>requestBeyondBuffer</key>
	<string>configurationFacadeBehavior</string>
	<key>sineAtEnvironment</key>
	<string>playbackAlongBuffer</string>
	<key>transitionStyleAcceleration</key>
	<string>fixedStatelessTension</string>
</dict>
</plist>
