<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerAtSystem</key>
	<string>greatFeatureInteraction</string>
	<key>mutableChartBrightness</key>
	<string>advancedGroupRate</string>
	<key>stackAgainstPrototype</key>
	<string>notifierCycleCount</string>
</dict>
</plist>
