<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedNotificationSkewy</key>
	<string>permanentIntensityIndex</string>
	<key>basicMissionShade</key>
	<string>storeInterpreterSpacing</string>
	<key>currentGemContrast</key>
	<string>spritePerChain</string>
	<key>fusedResultSkewy</key>
	<string>comprehensiveMatrixFormat</string>
	<key>interpolationStrategyResponse</key>
	<string>permissiveGraphicOpacity</string>
</dict>
</plist>
