<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAwayPrototype</key>
	<string>controllerParamScale</string>
	<key>enabledAccessoryBrightness</key>
	<string>viewAroundScope</string>
	<key>expandedActionAppearance</key>
	<string>callbackThroughJob</string>
	<key>independentFeatureEdge</key>
	<string>significantGrayscaleBottom</string>
	<key>progressbarIncludeJob</key>
	<string>popupPhaseRight</string>
</dict>
</plist>
