<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticDescriptorHue</key>
	<string>reducerInterpreterScale</string>
	<key>flexibleBuilderBottom</key>
	<string>animationAdapterHead</string>
	<key>geometricLayerSize</key>
	<string>capacitiesVariableDirection</string>
	<key>positionedSystemVelocity</key>
	<string>heapWithOperation</string>
	<key>timerWithPattern</key>
	<string>metadataNearVariable</string>
</dict>
</plist>
