<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchSinceTier</key>
	<string>futureStructureCount</string>
	<key>constraintInterpreterDuration</key>
	<string>exceptionTempleForce</string>
	<key>delegateProxyTheme</key>
	<string>equalizationAmongChain</string>
	<key>directlyTransformerTension</key>
	<string>segmentVariableBehavior</string>
	<key>exceptionOutsideFunction</key>
	<string>modelLevelMargin</string>
	<key>listenerMementoBrightness</key>
	<string>inheritedObserverDensity</string>
	<key>textStrategyPosition</key>
	<string>providerParameterLeft</string>
</dict>
</plist>
