<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDrawerOpacity</key>
	<string>scrollFormCoord</string>
	<key>completionViaShape</key>
	<string>documentVersusScope</string>
	<key>eagerLabelSkewx</key>
	<string>slashStructureRight</string>
	<key>smartDropdownbuttonValidation</key>
	<string>sizeAdapterBehavior</string>
	<key>spriteVersusOperation</key>
	<string>customizedGridShape</string>
</dict>
</plist>
