<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInsideParameter</key>
	<string>fusedIndicatorEdge</string>
	<key>interfaceFromJob</key>
	<string>effectKindBrightness</string>
	<key>iterativeUsecaseOpacity</key>
	<string>uniformHandlerTail</string>
	<key>normalGetxTension</key>
	<string>blocWithoutKind</string>
	<key>positionedAtShape</key>
	<string>particleValueDelay</string>
	<key>primaryListenerHue</key>
	<string>dependencyDespiteContext</string>
</dict>
</plist>
