<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedProviderKind</key>
	<string>diversifiedTextTransparency</string>
	<key>asynchronousVectorTag</key>
	<string>spineWorkTail</string>
	<key>firstModelDirection</key>
	<string>signatureFlyweightVisibility</string>
	<key>immediateCubitRate</key>
	<string>finalContainerDepth</string>
	<key>intensityFormInset</key>
	<string>blocNumberVisible</string>
	<key>otherMusicShape</key>
	<string>transitionFacadeBehavior</string>
	<key>spotOrDecorator</key>
	<string>nodeDecoratorOffset</string>
	<key>vectorStageTint</key>
	<string>intuitiveProviderTag</string>
	<key>viewValueDepth</key>
	<string>deferredBitrateBrightness</string>
</dict>
</plist>
