<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentLikeCommand</key>
	<string>capsuleWithoutCycle</string>
	<key>gramObserverMomentum</key>
	<string>promiseOfAction</string>
	<key>robustTaskForce</key>
	<string>advancedMediaFormat</string>
	<key>routeAsMethod</key>
	<string>specifyTransformerTint</string>
	<key>staticBorderType</key>
	<string>grainInPrototype</string>
</dict>
</plist>
