<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicNavigatorOrigin</key>
	<string>queueDecoratorSpeed</string>
	<key>mutableSliderState</key>
	<string>missedMetadataVisibility</string>
	<key>notificationFromBridge</key>
	<string>lossInStructure</string>
	<key>opaqueTaskMargin</key>
	<string>rowActivityLocation</string>
</dict>
</plist>
