<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletBridgeLeft</key>
	<string>containerInBridge</string>
	<key>buttonParamFlags</key>
	<string>layoutAlongVar</string>
	<key>injectionBeyondLevel</key>
	<string>beginnerBoxLocation</string>
	<key>menuAndFlyweight</key>
	<string>sceneFacadeShade</string>
	<key>queueContainTemple</key>
	<string>fusedBorderPosition</string>
	<key>rectObserverPressure</key>
	<string>sineInCommand</string>
	<key>sensorPrototypeInterval</key>
	<string>finalMatrixForce</string>
	<key>textfieldForMode</key>
	<string>gridParamFormat</string>
</dict>
</plist>
