<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeDurationBorder</key>
	<string>relationalSwitchForce</string>
	<key>effectScopeMargin</key>
	<string>extensionShapeCenter</string>
	<key>hashPerVariable</key>
	<string>imageChainPosition</string>
	<key>navigatorViaActivity</key>
	<string>unsortedCardSize</string>
	<key>providerByTemple</key>
	<string>containerBeyondChain</string>
	<key>sizedboxInEnvironment</key>
	<string>inheritedBufferTag</string>
	<key>specifierSingletonStyle</key>
	<string>completionObserverBottom</string>
	<key>timerLayerFlags</key>
	<string>similarReductionBrightness</string>
</dict>
</plist>
