<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRowName</key>
	<string>textureBridgeTension</string>
	<key>allocatorWithCommand</key>
	<string>comprehensiveObserverScale</string>
	<key>assetScopeDistance</key>
	<string>histogramWithoutFlyweight</string>
	<key>isolateBridgeMomentum</key>
	<string>standaloneCursorKind</string>
	<key>optimizerLayerName</key>
	<string>columnScopeCoord</string>
	<key>reducerVariableShape</key>
	<string>navigatorFromObserver</string>
</dict>
</plist>
