<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorActionIndex</key>
	<string>isolateBeyondParam</string>
	<key>parallelWidgetSize</key>
	<string>optionForObserver</string>
	<key>reducerInterpreterForce</key>
	<string>accessibleHeapShade</string>
	<key>resourceProxyMode</key>
	<string>reducerDecoratorSpacing</string>
	<key>robustPromiseHead</key>
	<string>globalProjectStatus</string>
</dict>
</plist>
