<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionAroundState</key>
	<string>screenAgainstVisitor</string>
	<key>constBoxshadowMomentum</key>
	<string>curvePerBuffer</string>
	<key>multiplicationAgainstVisitor</key>
	<string>getxOperationStyle</string>
	<key>permanentLayerRight</key>
	<string>resolverPrototypeVisible</string>
	<key>queueAmongFunction</key>
	<string>listenerUntilContext</string>
	<key>scaleFunctionBehavior</key>
	<string>cosineWithTemple</string>
	<key>transitionNumberBottom</key>
	<string>immutableAnchorInset</string>
</dict>
</plist>
