<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectFacadeResponse</key>
	<string>getxAsTemple</string>
	<key>errorParamHue</key>
	<string>subtleToolSkewx</string>
	<key>globalAspectratioDensity</key>
	<string>gridAdapterFormat</string>
	<key>largeNavigatorRotation</key>
	<string>graphStagePadding</string>
	<key>normForScope</key>
	<string>currentStreamFeedback</string>
	<key>smartOffsetOrientation</key>
	<string>tickerBesideBridge</string>
	<key>techniqueProcessBrightness</key>
	<string>smartEffectStyle</string>
</dict>
</plist>
