<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainCommandStyle</key>
	<string>effectAmongLevel</string>
	<key>histogramForPhase</key>
	<string>segueParamType</string>
	<key>popupAgainstStage</key>
	<string>disparatePositionShape</string>
	<key>sizeAmongAction</key>
	<string>semanticExtensionHue</string>
	<key>utilPhaseTension</key>
	<string>oldCaptionAppearance</string>
</dict>
</plist>
