<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureStageAcceleration</key>
	<string>fragmentBufferDuration</string>
	<key>mainArithmeticTransparency</key>
	<string>respectiveCurveVelocity</string>
	<key>particleLayerMode</key>
	<string>hardContainerFrequency</string>
	<key>permanentRequestTop</key>
	<string>diffableHistogramStyle</string>
	<key>prevBehaviorState</key>
	<string>autoDelegateBound</string>
	<key>priorityChainTransparency</key>
	<string>histogramActionInterval</string>
	<key>queueAndChain</key>
	<string>cubitThroughPattern</string>
	<key>responseOrMode</key>
	<string>comprehensivePointPosition</string>
	<key>spriteByLayer</key>
	<string>zoneParamPressure</string>
</dict>
</plist>
