<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedMatrixScale</key>
	<string>keyServiceShade</string>
	<key>consultativeRadioShade</key>
	<string>greatPromiseSkewx</string>
	<key>graphicSinceVisitor</key>
	<string>alertWorkFormat</string>
	<key>handlerSystemSkewx</key>
	<string>gridByMode</string>
	<key>intensityCompositeInterval</key>
	<string>axisNumberMargin</string>
</dict>
</plist>
