<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerInsidePhase</key>
	<string>newestEventShade</string>
	<key>entityAboutAdapter</key>
	<string>promiseDuringState</string>
	<key>ephemeralAnimationTail</key>
	<string>multiCoordinatorEdge</string>
	<key>frameContainStructure</key>
	<string>offsetActivitySize</string>
	<key>functionalDimensionTension</key>
	<string>themeFlyweightBottom</string>
	<key>methodViaState</key>
	<string>independentStreamFlags</string>
	<key>radiusAgainstStage</key>
	<string>factoryCycleTint</string>
	<key>rowTaskMargin</key>
	<string>visibleIntegerSkewx</string>
	<key>themePhaseKind</key>
	<string>entityFromKind</string>
	<key>zoneBesideCommand</key>
	<string>entropyOperationVisible</string>
</dict>
</plist>
