<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncControllerPosition</key>
	<string>dedicatedSwitchShade</string>
	<key>coordinatorCycleHead</key>
	<string>concreteStepTransparency</string>
	<key>delegateValueFrequency</key>
	<string>cycleFrameworkAlignment</string>
	<key>instructionThanTier</key>
	<string>independentExpandedDepth</string>
	<key>normalDelegateAcceleration</key>
	<string>collectionThanScope</string>
	<key>spinePerActivity</key>
	<string>utilScopeHead</string>
</dict>
</plist>
