<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveInsideChain</key>
	<string>basicNavigationTransparency</string>
	<key>custompaintViaStructure</key>
	<string>awaitAwayTemple</string>
	<key>monsterTierDistance</key>
	<string>subscriptionVersusNumber</string>
	<key>oldInjectionPadding</key>
	<string>mobxAgainstLayer</string>
	<key>profileIncludeAction</key>
	<string>coordinatorViaStyle</string>
	<key>subsequentParticleFlags</key>
	<string>painterUntilTier</string>
	<key>tweenInFunction</key>
	<string>optionAdapterValidation</string>
</dict>
</plist>
