<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionLikeKind</key>
	<string>columnSingletonOffset</string>
	<key>grainAndFacade</key>
	<string>cosineWithoutShape</string>
	<key>listviewMethodSpeed</key>
	<string>handlerThanInterpreter</string>
	<key>plateOrScope</key>
	<string>desktopGraphicInteraction</string>
	<key>radiusInPrototype</key>
	<string>sinkFrameworkSkewx</string>
	<key>segueModeDirection</key>
	<string>reusableInkwellVisibility</string>
	<key>storageWithFunction</key>
	<string>techniqueEnvironmentTransparency</string>
	<key>substantialProviderMargin</key>
	<string>collectionByLayer</string>
	<key>tickerByKind</key>
	<string>bufferContextFeedback</string>
</dict>
</plist>
