<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationBesideVariable</key>
	<string>completerLikeOperation</string>
	<key>basicSizeCenter</key>
	<string>autoCompleterTension</string>
	<key>cardEnvironmentPadding</key>
	<string>commonSinkHead</string>
	<key>explicitRectBottom</key>
	<string>chapterOperationAlignment</string>
	<key>responseVarAppearance</key>
	<string>transitionCycleOffset</string>
	<key>statefulFunctionTint</key>
	<string>dropdownbuttonKindIndex</string>
	<key>temporaryConsumerPosition</key>
	<string>transformerInsideBuffer</string>
	<key>unaryInFunction</key>
	<string>slashPatternMode</string>
</dict>
</plist>
