<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interpolationWorkTag</key>
	<string>streamNumberColor</string>
	<key>managerBesideTier</key>
	<string>masterActionStatus</string>
	<key>pivotalLayerHead</key>
	<string>providerPatternMomentum</string>
	<key>playbackByStrategy</key>
	<string>newestSingletonContrast</string>
	<key>reactiveRouteSpacing</key>
	<string>gestureWithCycle</string>
	<key>spineExceptParameter</key>
	<string>backwardLabelTag</string>
	<key>temporaryGraphShape</key>
	<string>delegateContextBottom</string>
	<key>titleAtKind</key>
	<string>webPainterInset</string>
</dict>
</plist>
