<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMomentumValidation</key>
	<string>nibModeBrightness</string>
	<key>builderThanKind</key>
	<string>heapObserverInterval</string>
	<key>effectMethodSpeed</key>
	<string>projectionStrategyInteraction</string>
	<key>gesturedetectorOrStructure</key>
	<string>channelsJobSpacing</string>
	<key>isolateAroundState</key>
	<string>functionalGetxStatus</string>
	<key>nextGraphVisibility</key>
	<string>relationalViewFlags</string>
	<key>previewTaskSkewy</key>
	<string>sampleAwayMethod</string>
	<key>symmetricLayerRotation</key>
	<string>reducerAwayCycle</string>
</dict>
</plist>
