<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedResponseDelay</key>
	<string>segmentInterpreterMode</string>
	<key>firstNavigationAcceleration</key>
	<string>custompaintWorkVisibility</string>
	<key>firstToolMargin</key>
	<string>dynamicCaptionColor</string>
	<key>hashSinceProxy</key>
	<string>futureJobCoord</string>
	<key>isolateScopeBrightness</key>
	<string>paddingSingletonDirection</string>
	<key>materialStoragePosition</key>
	<string>intensityOperationColor</string>
	<key>protectedStateSkewy</key>
	<string>custompaintOperationMomentum</string>
	<key>storyboardNearJob</key>
	<string>typicalExtensionPadding</string>
	<key>subpixelFlyweightTheme</key>
	<string>opaqueUsageMomentum</string>
	<key>viewTierFormat</key>
	<string>consultativeCapsuleDensity</string>
</dict>
</plist>
