<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeStorageState</key>
	<string>visibleTangentState</string>
	<key>custompaintDuringParam</key>
	<string>graphBeyondTask</string>
	<key>delicateAlertColor</key>
	<string>reductionStageTop</string>
	<key>functionalImageBorder</key>
	<string>containerPhaseResponse</string>
	<key>intensityLikeAdapter</key>
	<string>masterOperationName</string>
</dict>
</plist>
