<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncWithoutWork</key>
	<string>threadFlyweightFrequency</string>
	<key>catalystStrategyLeft</key>
	<string>observerDuringDecorator</string>
	<key>easyRiverpodSize</key>
	<string>skinThanMemento</string>
	<key>logarithmAndShape</key>
	<string>positionAndLevel</string>
	<key>observerAlongVisitor</key>
	<string>lazySceneStatus</string>
	<key>painterWithParameter</key>
	<string>subsequentBorderScale</string>
</dict>
</plist>
