<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapSinceVar</key>
	<string>navigationLayerInset</string>
	<key>roleInterpreterFeedback</key>
	<string>commandOperationState</string>
	<key>stampUntilChain</key>
	<string>textFlyweightLocation</string>
	<key>symmetricBulletMode</key>
	<string>assetDecoratorSpacing</string>
	<key>ternaryUntilParameter</key>
	<string>accordionAnimationSize</string>
</dict>
</plist>
