<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentErrorDuration</key>
	<string>playbackAndCycle</string>
	<key>diffableAspectState</key>
	<string>reusableUsecasePosition</string>
	<key>radiusCommandRotation</key>
	<string>delicateEquipmentBottom</string>
	<key>reducerFormRate</key>
	<string>unactivatedExceptionStatus</string>
	<key>sensorViaShape</key>
	<string>currentIntensityForce</string>
	<key>sineExceptWork</key>
	<string>baselineWithoutStructure</string>
	<key>skirtLikeNumber</key>
	<string>observerActivitySpacing</string>
	<key>staticExpandedBorder</key>
	<string>borderVariableAppearance</string>
</dict>
</plist>
