<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateObserverRate</key>
	<string>popupStageMode</string>
	<key>layerJobSpacing</key>
	<string>serviceVisitorStatus</string>
	<key>mobileFactoryCount</key>
	<string>gateTypeAppearance</string>
	<key>opaqueControllerEdge</key>
	<string>animationAtCommand</string>
	<key>pivotalIsolateCoord</key>
	<string>keySineOrigin</string>
</dict>
</plist>
