<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryActionEdge</key>
	<string>scaffoldBridgeName</string>
	<key>basicResponseContrast</key>
	<string>localTaskKind</string>
	<key>characterAwayTemple</key>
	<string>canvasBufferTag</string>
	<key>constSubscriptionBehavior</key>
	<string>monsterDuringState</string>
	<key>delegateWithCycle</key>
	<string>materialMobxScale</string>
	<key>normalBlocSaturation</key>
	<string>mediocreCurveAcceleration</string>
	<key>priorityDecoratorTransparency</key>
	<string>lostCubitContrast</string>
	<key>responsiveDocumentMargin</key>
	<string>documentPrototypeAppearance</string>
	<key>responsiveFragmentAlignment</key>
	<string>tweenThanShape</string>
	<key>usedReferenceOpacity</key>
	<string>sizeAtVisitor</string>
</dict>
</plist>
