<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRouteInset</key>
	<string>listviewParamState</string>
	<key>crucialResolverVelocity</key>
	<string>unaryInStructure</string>
	<key>futureWithoutWork</key>
	<string>previewThanType</string>
	<key>unsortedRiverpodTransparency</key>
	<string>interfaceForStyle</string>
</dict>
</plist>
