<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFrameAppearance</key>
	<string>diffableBorderSkewy</string>
	<key>completionMethodLeft</key>
	<string>greatBuilderDuration</string>
	<key>compositionIncludeDecorator</key>
	<string>usedMediaqueryScale</string>
	<key>nextSinkStyle</key>
	<string>heroAlongObserver</string>
	<key>prevTableMode</key>
	<string>navigatorStageOrigin</string>
	<key>shaderAgainstPhase</key>
	<string>displayableBorderMode</string>
	<key>sustainableCycleMargin</key>
	<string>segmentFacadeCenter</string>
	<key>switchMediatorOffset</key>
	<string>asyncDelegateOpacity</string>
</dict>
</plist>
