<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorInsideVar</key>
	<string>iterativeResponseCenter</string>
	<key>bufferInterpreterHue</key>
	<string>viewViaTier</string>
	<key>eventForPlatform</key>
	<string>awaitParameterAcceleration</string>
	<key>primaryApertureType</key>
	<string>equipmentFormAlignment</string>
	<key>projectMementoDelay</key>
	<string>indicatorAlongCycle</string>
</dict>
</plist>
