<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicAdapterBehavior</key>
	<string>consumerPlatformShade</string>
	<key>invisibleAppbarFeedback</key>
	<string>channelsDespiteLevel</string>
	<key>logarithmWithDecorator</key>
	<string>accessibleMenuMomentum</string>
	<key>missedEffectMode</key>
	<string>localizationPerPattern</string>
	<key>resourceOrSystem</key>
	<string>sortedCaptionResponse</string>
	<key>specifierDuringParameter</key>
	<string>chapterTierLocation</string>
	<key>tappableTabbarDensity</key>
	<string>curveAroundNumber</string>
	<key>webStatelessDuration</key>
	<string>directlyMomentumTop</string>
</dict>
</plist>
