<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prevSingletonBottom</key>
	<string>chapterAwayPattern</string>
	<key>reactiveLocalizationFeedback</key>
	<string>layoutIncludeProxy</string>
	<key>tappableBoxshadowMode</key>
	<string>repositoryWithMode</string>
	<key>topicThroughMethod</key>
	<string>spineChainColor</string>
</dict>
</plist>
