<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushTypeFrequency</key>
	<string>descriptorTierSize</string>
	<key>customDurationInterval</key>
	<string>blocModeDepth</string>
	<key>isolateFrameworkFormat</key>
	<string>kernelForPrototype</string>
	<key>managerInMemento</key>
	<string>originalNodeDelay</string>
	<key>navigatorOutsideOperation</key>
	<string>layerNearParam</string>
	<key>specifierViaNumber</key>
	<string>configurationByProcess</string>
	<key>spriteOperationTheme</key>
	<string>layoutWorkInset</string>
</dict>
</plist>
