<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisThanPhase</key>
	<string>isolateDuringProcess</string>
	<key>concreteViewSkewx</key>
	<string>isolateMementoRotation</string>
	<key>easySessionIndex</key>
	<string>rowVarPosition</string>
	<key>flexibleGateMomentum</key>
	<string>particleAsNumber</string>
	<key>nativeCycleMomentum</key>
	<string>webInterfaceDensity</string>
	<key>popupAlongSingleton</key>
	<string>pivotalStreamShade</string>
	<key>respectiveAspectDirection</key>
	<string>remainderWithFunction</string>
	<key>scaffoldMementoStatus</key>
	<string>logKindAcceleration</string>
	<key>slashFrameworkPosition</key>
	<string>petContextKind</string>
</dict>
</plist>
