<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTaskOrigin</key>
	<string>dedicatedCommandContrast</string>
	<key>drawerAsAction</key>
	<string>usageStructureDensity</string>
	<key>euclideanCacheName</key>
	<string>skinByVisitor</string>
	<key>missedRectStyle</key>
	<string>eventNearActivity</string>
	<key>resourceAroundVisitor</key>
	<string>collectionPatternOpacity</string>
</dict>
</plist>
