<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAlongProxy</key>
	<string>lostBehaviorBorder</string>
	<key>checkboxContainStage</key>
	<string>firstAlignmentSaturation</string>
	<key>discardedNodeBound</key>
	<string>cubeDecoratorKind</string>
	<key>eagerLayoutAppearance</key>
	<string>indicatorUntilStage</string>
	<key>effectContainJob</key>
	<string>pivotalWidgetDirection</string>
	<key>functionalCursorLeft</key>
	<string>optimizerNearState</string>
	<key>intensityNumberRate</key>
	<string>comprehensiveCollectionLeft</string>
	<key>labelVariableVisibility</key>
	<string>oldMomentumBehavior</string>
	<key>rowPhaseFormat</key>
	<string>boxSystemTheme</string>
	<key>singletonSincePattern</key>
	<string>firstAnimationLeft</string>
</dict>
</plist>
