<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousMasterCenter</key>
	<string>animatedProtocolColor</string>
	<key>grainVarTail</key>
	<string>radiusThanDecorator</string>
	<key>screenAmongLevel</key>
	<string>smallServiceFeedback</string>
	<key>semanticAnimationMomentum</key>
	<string>normPatternCoord</string>
	<key>semanticsStructureDuration</key>
	<string>precisionSystemVisibility</string>
	<key>singletonInsideBuffer</key>
	<string>uniformMomentumSkewy</string>
</dict>
</plist>
