<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonExceptJob</key>
	<string>desktopDelegateRight</string>
	<key>concreteDurationMargin</key>
	<string>boxshadowBridgeDelay</string>
	<key>managerAmongPrototype</key>
	<string>textureSinceTier</string>
	<key>playbackActivityOffset</key>
	<string>textfieldAndSystem</string>
	<key>providerStylePosition</key>
	<string>permanentExpandedVelocity</string>
</dict>
</plist>
