<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterStageSpeed</key>
	<string>uniqueRowAlignment</string>
	<key>characterWithCycle</key>
	<string>popupSingletonRotation</string>
	<key>grayscaleTierMargin</key>
	<string>tangentExceptVariable</string>
	<key>musicOperationAppearance</key>
	<string>gridAmongTemple</string>
	<key>responseByShape</key>
	<string>routerPlatformRotation</string>
	<key>significantAnchorBottom</key>
	<string>effectModeContrast</string>
</dict>
</plist>
