<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerCompletionTag</key>
	<string>bufferForSystem</string>
	<key>labelNearType</key>
	<string>metadataActionScale</string>
	<key>methodOrCycle</key>
	<string>alertTaskBehavior</string>
	<key>multiProgressbarName</key>
	<string>chapterBridgeTransparency</string>
	<key>scaleChainVisibility</key>
	<string>curveBesideObserver</string>
	<key>semanticScreenScale</key>
	<string>newestUsageInterval</string>
</dict>
</plist>
