<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStructureFeedback</key>
	<string>reducerObserverVisibility</string>
	<key>customContainerLeft</key>
	<string>custompaintStyleTint</string>
	<key>delegateOfFramework</key>
	<string>entropyLikeStructure</string>
	<key>effectViaFramework</key>
	<string>modulusOutsideStage</string>
	<key>enabledConstraintType</key>
	<string>sineAtObserver</string>
	<key>integerPerAdapter</key>
	<string>unaryUntilWork</string>
	<key>remainderStrategyKind</key>
	<string>intuitiveSineType</string>
	<key>storageEnvironmentEdge</key>
	<string>frameOfEnvironment</string>
	<key>tableAndCycle</key>
	<string>giftContainProxy</string>
	<key>transformerUntilMemento</key>
	<string>popupCompositeState</string>
</dict>
</plist>
