<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorContainTask</key>
	<string>uniqueRowResponse</string>
	<key>layerAndMethod</key>
	<string>zoneFrameworkStyle</string>
	<key>priorityVersusJob</key>
	<string>singleSpineLeft</string>
	<key>streamContainObserver</key>
	<string>previewBesideComposite</string>
	<key>workflowValueBound</key>
	<string>projectionByInterpreter</string>
</dict>
</plist>
