<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentResourceCoord</key>
	<string>nibLevelTransparency</string>
	<key>equalizationInDecorator</key>
	<string>tabbarCommandDensity</string>
	<key>isolateModeFlags</key>
	<string>chartValueShape</string>
	<key>normalContractionInterval</key>
	<string>certificateAmongLevel</string>
	<key>operationIncludeScope</key>
	<string>managerTaskPosition</string>
</dict>
</plist>
