<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseCompositeTransparency</key>
	<string>exceptionStrategyState</string>
	<key>capsuleLayerPadding</key>
	<string>textTaskVisible</string>
	<key>compositionalGradientCount</key>
	<string>vectorFormHead</string>
	<key>movementSystemIndex</key>
	<string>pageviewAgainstTemple</string>
	<key>popupAndMemento</key>
	<string>alignmentAboutFacade</string>
	<key>sizePhaseVisibility</key>
	<string>animationScopeDistance</string>
	<key>skinFlyweightEdge</key>
	<string>stampProcessTop</string>
</dict>
</plist>
