<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationOrForm</key>
	<string>offsetStageFormat</string>
	<key>hierarchicalGiftDelay</key>
	<string>substantialFragmentBehavior</string>
	<key>localizationParamMode</key>
	<string>layoutAlongPattern</string>
	<key>robustConstraintTheme</key>
	<string>primaryDescriptionTheme</string>
	<key>segmentAroundParameter</key>
	<string>scrollCompositeShape</string>
	<key>skirtProcessInteraction</key>
	<string>activityModeFrequency</string>
	<key>tappableAxisKind</key>
	<string>cellStageDuration</string>
	<key>temporaryOperationDuration</key>
	<string>signInsideVisitor</string>
</dict>
</plist>
