<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellByFacade</key>
	<string>desktopSliderInterval</string>
	<key>descriptionShapeAcceleration</key>
	<string>repositoryForFunction</string>
	<key>desktopFrameSpacing</key>
	<string>ignoredChecklistPosition</string>
	<key>layerEnvironmentStatus</key>
	<string>viewUntilEnvironment</string>
	<key>navigationOrStrategy</key>
	<string>streamLikeShape</string>
	<key>nodeStyleKind</key>
	<string>rowByTask</string>
	<key>normObserverOpacity</key>
	<string>reductionStateAppearance</string>
	<key>viewAwayProxy</key>
	<string>channelOutsideProxy</string>
</dict>
</plist>
