<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNearLevel</key>
	<string>factoryLikeKind</string>
	<key>grainBeyondCycle</key>
	<string>fixedAnimationCoord</string>
	<key>histogramVisitorOpacity</key>
	<string>discardedHashPadding</string>
	<key>queryModeType</key>
	<string>catalystAndChain</string>
	<key>utilInsideOperation</key>
	<string>signatureAroundLevel</string>
</dict>
</plist>
