<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryTierHue</key>
	<string>zoneBeyondVar</string>
	<key>featureAlongStrategy</key>
	<string>scaffoldSingletonPosition</string>
	<key>handlerWithoutVar</key>
	<string>unaryFrameworkPadding</string>
	<key>projectNearOperation</key>
	<string>localStreamRate</string>
	<key>zoneNearFacade</key>
	<string>scrollAndBuffer</string>
</dict>
</plist>
