<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOrCycle</key>
	<string>providerInsideTemple</string>
	<key>delegateObserverColor</key>
	<string>geometricCycleResponse</string>
	<key>mobxSystemOrigin</key>
	<string>stackKindTint</string>
	<key>multiPreviewTension</key>
	<string>textfieldAndScope</string>
	<key>prismaticReducerFrequency</key>
	<string>cubeCycleContrast</string>
	<key>symmetricCubitShape</key>
	<string>petViaAction</string>
	<key>tangentCycleSkewx</key>
	<string>tickerProcessInteraction</string>
</dict>
</plist>
