<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultDurationBehavior</key>
	<string>cartesianControllerBottom</string>
	<key>injectionNearStructure</key>
	<string>capacitiesWithPrototype</string>
	<key>nextCharacterLocation</key>
	<string>grainAdapterHue</string>
	<key>sortedHeroPadding</key>
	<string>durationActionState</string>
	<key>tensorRowAcceleration</key>
	<string>subtleOffsetAlignment</string>
	<key>unactivatedBoxshadowIndex</key>
	<string>capacitiesMethodForce</string>
	<key>usecaseActivityInset</key>
	<string>concurrentTopicBehavior</string>
	<key>workflowDecoratorAcceleration</key>
	<string>intuitivePreviewFeedback</string>
</dict>
</plist>
