<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertIncludePhase</key>
	<string>sampleValuePosition</string>
	<key>allocatorJobColor</key>
	<string>progressbarAboutMediator</string>
	<key>criticalAspectratioOpacity</key>
	<string>pageviewAdapterSkewy</string>
	<key>entityLayerTheme</key>
	<string>profileLikeAdapter</string>
	<key>graphicAroundMediator</key>
	<string>tabviewTaskFormat</string>
	<key>providerInsideVar</key>
	<string>largeCollectionCoord</string>
	<key>rectAmongMediator</key>
	<string>hierarchicalProgressbarAppearance</string>
	<key>reducerVariableScale</key>
	<string>spinePerKind</string>
	<key>tickerOrForm</key>
	<string>finalUsageTheme</string>
</dict>
</plist>
