<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandLayerContrast</key>
	<string>imperativeNotifierTop</string>
	<key>mobileChannelsBrightness</key>
	<string>visibleRouteStatus</string>
	<key>resilientSceneCoord</key>
	<string>usedTextfieldVisible</string>
</dict>
</plist>
