<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOutsideMemento</key>
	<string>inactiveVariantRight</string>
	<key>canvasOrCycle</key>
	<string>tappableLayoutScale</string>
	<key>declarativeReducerFormat</key>
	<string>textModeTag</string>
	<key>retainedGesturedetectorScale</key>
	<string>comprehensiveCheckboxPressure</string>
	<key>sizeModeInterval</key>
	<string>mutableDecorationScale</string>
	<key>tabviewWithKind</key>
	<string>resultStyleFlags</string>
	<key>transitionViaStructure</key>
	<string>custompaintMementoLeft</string>
	<key>widgetShapeSkewx</key>
	<string>decorationOfJob</string>
</dict>
</plist>
