<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTimerShape</key>
	<string>requiredLocalizationTint</string>
	<key>contractionInsideMemento</key>
	<string>independentMetadataBehavior</string>
	<key>multiQueryTension</key>
	<string>groupAsLevel</string>
	<key>roleWithLayer</key>
	<string>mutablePlateLeft</string>
</dict>
</plist>
