<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAroundMode</key>
	<string>numericalRouteSkewy</string>
	<key>assetChainSize</key>
	<string>mobileCurveVelocity</string>
	<key>associatedPlaybackContrast</key>
	<string>substantialAnimationCount</string>
	<key>comprehensiveDelegateInterval</key>
	<string>frameExceptStage</string>
	<key>coordinatorInterpreterMode</key>
	<string>tweenWithFacade</string>
	<key>desktopArithmeticContrast</key>
	<string>routeVersusWork</string>
	<key>easyToolOrigin</key>
	<string>checklistDecoratorTension</string>
	<key>iterativeAnchorDirection</key>
	<string>taskInsideInterpreter</string>
	<key>mediumPositionDistance</key>
	<string>cupertinoAnchorStatus</string>
</dict>
</plist>
