<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGraphHead</key>
	<string>optimizerOutsideNumber</string>
	<key>binaryStyleSpeed</key>
	<string>inkwellBridgeBrightness</string>
	<key>certificateProcessRotation</key>
	<string>channelsWithoutActivity</string>
	<key>convolutionPatternShape</key>
	<string>aspectratioViaPrototype</string>
	<key>delicateListenerTag</key>
	<string>layerAwayWork</string>
	<key>mobileProxyInset</key>
	<string>singleTernaryForce</string>
	<key>responsiveMobxSpacing</key>
	<string>activatedPopupStyle</string>
	<key>threadAroundCycle</key>
	<string>intermediateProjectionDirection</string>
	<key>timerAdapterBound</key>
	<string>textIncludeWork</string>
</dict>
</plist>
