<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionVarVisibility</key>
	<string>normalNotificationContrast</string>
	<key>menuBesideCommand</key>
	<string>seamlessLayoutPressure</string>
	<key>significantNibName</key>
	<string>globalAwaitBorder</string>
	<key>sizedboxAmongAdapter</key>
	<string>consumerAsNumber</string>
	<key>variantBridgeBorder</key>
	<string>relationalCubeTop</string>
</dict>
</plist>
