<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchMediatorName</key>
	<string>alertAmongCycle</string>
	<key>draggableBlocTail</key>
	<string>serviceIncludeFacade</string>
	<key>interactorOfTask</key>
	<string>finalWorkflowKind</string>
	<key>liteBitrateFrequency</key>
	<string>specifyButtonFlags</string>
	<key>sequentialRectTail</key>
	<string>labelWithSingleton</string>
	<key>smallStreamType</key>
	<string>heapModeStyle</string>
</dict>
</plist>
