<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPerLayer</key>
	<string>persistentChartAppearance</string>
	<key>boxFrameworkRate</key>
	<string>taskStyleForce</string>
	<key>reusableContainerSkewy</key>
	<string>textMementoIndex</string>
	<key>significantGridOpacity</key>
	<string>taskThanVariable</string>
	<key>stepObserverSize</key>
	<string>taskByScope</string>
	<key>uniformHeapDistance</key>
	<string>momentumPlatformEdge</string>
	<key>viewAboutOperation</key>
	<string>publicGraphicDistance</string>
</dict>
</plist>
