<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorOfMode</key>
	<string>seamlessCustompaintBrightness</string>
	<key>gateValueInteraction</key>
	<string>dialogsShapeDepth</string>
	<key>invisibleConfigurationMargin</key>
	<string>grainOutsideTask</string>
	<key>nodeActionKind</key>
	<string>subpixelOfDecorator</string>
	<key>radiusBufferSpacing</key>
	<string>multiplicationContextAcceleration</string>
	<key>referenceContextSkewx</key>
	<string>primaryRichtextInterval</string>
	<key>spriteTypeMomentum</key>
	<string>certificateVersusBridge</string>
	<key>tabviewSinceFunction</key>
	<string>subpixelCycleStyle</string>
</dict>
</plist>
