<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateBesideObserver</key>
	<string>stepAdapterSpeed</string>
	<key>builderTaskShape</key>
	<string>explicitHashScale</string>
	<key>cellPhaseInteraction</key>
	<string>intuitiveMovementFormat</string>
	<key>directPositionDistance</key>
	<string>basicAnimationMode</string>
	<key>disparateNotifierHead</key>
	<string>activatedInterfaceTension</string>
	<key>queryCompositeMode</key>
	<string>transitionObserverType</string>
	<key>retainedRoleState</key>
	<string>configurationAmongKind</string>
	<key>slashDuringVar</key>
	<string>newestVariantSpeed</string>
	<key>tickerSinceTask</key>
	<string>cosineDespiteJob</string>
</dict>
</plist>
