<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryLevelSkewy</key>
	<string>deferredAsyncSpacing</string>
	<key>entityOperationInteraction</key>
	<string>basicGramTension</string>
	<key>methodAmongAction</key>
	<string>textParameterDelay</string>
	<key>notifierAsNumber</key>
	<string>completerExceptCommand</string>
	<key>protocolInsideFramework</key>
	<string>semanticFrameState</string>
	<key>resolverAwayShape</key>
	<string>protocolModeMomentum</string>
	<key>resourceInValue</key>
	<string>actionByStyle</string>
	<key>secondNibLocation</key>
	<string>aspectratioTypeIndex</string>
	<key>spriteMementoResponse</key>
	<string>storyboardThanVar</string>
	<key>textureIncludeFlyweight</key>
	<string>eagerSpotPosition</string>
</dict>
</plist>
