<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerFlyweightShade</key>
	<string>newestMovementForce</string>
	<key>previewFromLevel</key>
	<string>gramOrForm</string>
	<key>routerBufferScale</key>
	<string>drawerLevelPosition</string>
</dict>
</plist>
