<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleResultLeft</key>
	<string>crudeDecorationPadding</string>
	<key>autoUtilBehavior</key>
	<string>streamStageInterval</string>
	<key>cosineShapeAlignment</key>
	<string>constraintStatePadding</string>
	<key>futureContainInterpreter</key>
	<string>fragmentInSystem</string>
	<key>positionedChainSpeed</key>
	<string>descriptionForParameter</string>
	<key>resourceJobCount</key>
	<string>rectByAdapter</string>
	<key>serviceOrParam</key>
	<string>pointParameterHead</string>
	<key>subtleCommandFlags</key>
	<string>contractionViaActivity</string>
</dict>
</plist>
