<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationWithMemento</key>
	<string>compositionalServiceDirection</string>
	<key>deferredFragmentCoord</key>
	<string>memberLevelTension</string>
	<key>hashMementoOpacity</key>
	<string>notifierSingletonTint</string>
	<key>instructionOutsideSystem</key>
	<string>commandActivityBrightness</string>
	<key>opaqueSpecifierMode</key>
	<string>responsiveStorageMargin</string>
	<key>routerMementoOrientation</key>
	<string>bitrateWithStyle</string>
	<key>sliderDespiteJob</key>
	<string>largeCanvasKind</string>
	<key>stepAsInterpreter</key>
	<string>labelChainSpeed</string>
	<key>textureShapeCenter</key>
	<string>captionLikeSingleton</string>
</dict>
</plist>
