<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureByWork</key>
	<string>bulletFrameworkDirection</string>
	<key>nodeUntilVisitor</key>
	<string>substantialPaddingIndex</string>
	<key>synchronousMobileCount</key>
	<string>boxAwayFlyweight</string>
</dict>
</plist>
