<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncOperationDepth</key>
	<string>scrollViaStrategy</string>
	<key>hardStorageForce</key>
	<string>tweenVersusState</string>
	<key>integerPlatformInterval</key>
	<string>asyncAboutInterpreter</string>
	<key>intuitiveCurveRate</key>
	<string>otherLayerSaturation</string>
	<key>localTitleKind</key>
	<string>layerChainCenter</string>
	<key>retainedFrameBorder</key>
	<string>dedicatedPresenterValidation</string>
	<key>sizeAmongInterpreter</key>
	<string>basePatternDuration</string>
</dict>
</plist>
