<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticManagerHue</key>
	<string>textTierTint</string>
	<key>grayscaleCommandPadding</key>
	<string>checklistOrPattern</string>
	<key>imperativeDimensionDirection</key>
	<string>topicTypeRate</string>
	<key>navigatorAroundTemple</key>
	<string>dimensionWorkAppearance</string>
	<key>specifierAroundContext</key>
	<string>listenerSystemValidation</string>
</dict>
</plist>
