<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAboutChain</key>
	<string>gridParamFlags</string>
	<key>deferredProgressbarIndex</key>
	<string>prismaticPainterContrast</string>
	<key>dependencyAtVar</key>
	<string>frameLevelOffset</string>
	<key>inheritedMetadataCoord</key>
	<string>constraintDespiteNumber</string>
	<key>routerAmongFunction</key>
	<string>adaptiveTaskOpacity</string>
	<key>subscriptionThroughChain</key>
	<string>checklistDespiteMemento</string>
</dict>
</plist>
