<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalCardRate</key>
	<string>containerActionBottom</string>
	<key>listviewAtOperation</key>
	<string>boxBesideStructure</string>
	<key>nodeByLevel</key>
	<string>taskActionForce</string>
	<key>oldMarginOpacity</key>
	<string>providerWithBuffer</string>
	<key>originalFutureIndex</key>
	<string>paddingByTemple</string>
	<key>requiredEntropyRotation</key>
	<string>respectiveReferenceStyle</string>
	<key>robustNavigatorTail</key>
	<string>dropdownbuttonAsForm</string>
	<key>scenePerTask</key>
	<string>lostHandlerTop</string>
	<key>sortedAnimationHue</key>
	<string>intensityLayerAlignment</string>
	<key>sustainableUtilSkewy</key>
	<string>deferredTransitionHue</string>
</dict>
</plist>
