<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGetxShape</key>
	<string>temporaryFeatureBrightness</string>
	<key>agileSpecifierBorder</key>
	<string>asyncContainMediator</string>
	<key>bulletMementoScale</key>
	<string>hierarchicalCursorFlags</string>
	<key>buttonAsFlyweight</key>
	<string>managerAlongPlatform</string>
	<key>cubeOutsideSingleton</key>
	<string>concurrentGrainMargin</string>
	<key>intermediateEventDensity</key>
	<string>taskAboutInterpreter</string>
	<key>kernelAboutKind</key>
	<string>sliderPerVar</string>
	<key>layoutScopeMode</key>
	<string>serviceActionFeedback</string>
	<key>positionedModeSpeed</key>
	<string>monsterStateSkewy</string>
	<key>resultAsMediator</key>
	<string>materialTouchStatus</string>
</dict>
</plist>
