<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedReductionVisible</key>
	<string>mobileBesideForm</string>
	<key>certificateContainTier</key>
	<string>transformerAgainstValue</string>
	<key>fusedTransformerStyle</key>
	<string>layoutExceptCommand</string>
	<key>independentTopicTransparency</key>
	<string>euclideanAspectratioLeft</string>
	<key>multiUsecaseSpacing</key>
	<string>commandInsideCommand</string>
	<key>precisionStateDirection</key>
	<string>interfaceSinceValue</string>
</dict>
</plist>
