<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCaptionVisible</key>
	<string>lazyCompositionType</string>
	<key>configurationBeyondVisitor</key>
	<string>canvasAndParameter</string>
	<key>dynamicLayoutTop</key>
	<string>bulletStyleOrientation</string>
	<key>groupChainEdge</key>
	<string>labelWithScope</string>
	<key>mapLikeActivity</key>
	<string>associatedGiftBehavior</string>
	<key>subpixelOfDecorator</key>
	<string>robustObserverMode</string>
</dict>
</plist>
