<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchFlyweightAlignment</key>
	<string>radiusVersusTask</string>
	<key>curveBeyondFunction</key>
	<string>unsortedRouteStyle</string>
	<key>cycleInsideFunction</key>
	<string>animationBeyondOperation</string>
	<key>eagerControllerTransparency</key>
	<string>seamlessProviderInterval</string>
	<key>handlerAwayPlatform</key>
	<string>graphCommandLeft</string>
	<key>presenterAroundValue</key>
	<string>respectiveSliderSize</string>
	<key>resultLikePlatform</key>
	<string>borderBeyondPlatform</string>
	<key>scrollableStackName</key>
	<string>behaviorLevelResponse</string>
</dict>
</plist>
