<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerMediatorShape</key>
	<string>durationContainNumber</string>
	<key>difficultInteractorFrequency</key>
	<string>menuVariableForce</string>
	<key>sortedFeatureSize</key>
	<string>descriptorAwayLayer</string>
	<key>titleTaskVisible</key>
	<string>bitrateStrategyBorder</string>
</dict>
</plist>
