<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerMethodFlags</key>
	<string>listenerBridgeSkewx</string>
	<key>descriptionPrototypeContrast</key>
	<string>constraintAdapterSkewx</string>
	<key>equipmentFrameworkColor</key>
	<string>listenerCompositeType</string>
	<key>originalGesturedetectorRate</key>
	<string>concreteChannelCount</string>
	<key>primaryProviderFrequency</key>
	<string>cacheActivityForce</string>
	<key>substantialCubitBrightness</key>
	<string>tickerCompositeForce</string>
</dict>
</plist>
