<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxStateMomentum</key>
	<string>numericalBaselineVelocity</string>
	<key>constraintNearType</key>
	<string>animationIncludeObserver</string>
	<key>crucialPlateDelay</key>
	<string>permissiveLoopVisible</string>
	<key>durationBeyondTask</key>
	<string>chartWithPlatform</string>
	<key>fixedDurationFeedback</key>
	<string>positionNearAction</string>
	<key>requiredSingletonDepth</key>
	<string>movementAboutParameter</string>
	<key>routeAwayType</key>
	<string>rowOutsideActivity</string>
	<key>skinTempleResponse</key>
	<string>singlePetLeft</string>
	<key>spriteNearVar</key>
	<string>concreteScrollMargin</string>
	<key>subpixelCommandDistance</key>
	<string>metadataAndBuffer</string>
</dict>
</plist>
