<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstRowFeedback</key>
	<string>bufferPrototypePosition</string>
	<key>mediaquerySystemInteraction</key>
	<string>easyPresenterDensity</string>
	<key>repositorySystemBound</key>
	<string>diffableGesturedetectorTension</string>
	<key>routeChainIndex</key>
	<string>baseShapeMargin</string>
	<key>stampInSystem</key>
	<string>giftMethodOpacity</string>
</dict>
</plist>
