<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBoxshadowTheme</key>
	<string>unaryUntilValue</string>
	<key>currentChallengeTag</key>
	<string>protectedExceptionInterval</string>
	<key>customizedRowPressure</key>
	<string>curveBesideKind</string>
	<key>firstDropdownbuttonCoord</key>
	<string>accordionSwitchRotation</string>
	<key>originalTweenForce</key>
	<string>workflowTaskTheme</string>
	<key>riverpodCompositeLeft</key>
	<string>imageIncludePattern</string>
	<key>transitionStrategyName</key>
	<string>animationSingletonPressure</string>
</dict>
</plist>
