<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSizeAcceleration</key>
	<string>enabledMetadataMode</string>
	<key>crudeExceptionSize</key>
	<string>prevButtonTail</string>
	<key>featureChainInteraction</key>
	<string>sinkAgainstScope</string>
	<key>lazySizeDelay</key>
	<string>normalPresenterTail</string>
	<key>semanticMediaSpeed</key>
	<string>segueSinceStage</string>
	<key>signStyleBrightness</key>
	<string>errorAtProcess</string>
	<key>statefulWithMemento</key>
	<string>interfaceCommandDepth</string>
	<key>tickerOfFlyweight</key>
	<string>giftDespitePlatform</string>
	<key>uniformRouteSize</key>
	<string>protectedSceneAlignment</string>
</dict>
</plist>
