<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorContextInterval</key>
	<string>lastIsolateIndex</string>
	<key>animationJobCoord</key>
	<string>signatureProxyContrast</string>
	<key>animationPrototypePosition</key>
	<string>subtleChannelsDirection</string>
	<key>assetModeSpacing</key>
	<string>transitionAsAction</string>
	<key>cartesianIndicatorBehavior</key>
	<string>tangentAndTier</string>
	<key>chartContainCycle</key>
	<string>channelThroughCycle</string>
	<key>particleTierVelocity</key>
	<string>hardQueryDepth</string>
	<key>queryNearFramework</key>
	<string>currentRepositoryContrast</string>
	<key>responsiveSubpixelRotation</key>
	<string>binaryAboutShape</string>
	<key>transitionAroundPattern</key>
	<string>profileCycleAppearance</string>
</dict>
</plist>
