<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackActionPressure</key>
	<string>awaitParameterForce</string>
	<key>directEntityVelocity</key>
	<string>storeAndFunction</string>
	<key>disparateNotifierSize</key>
	<string>stepVersusInterpreter</string>
	<key>geometricBaselineFormat</key>
	<string>profileAwayJob</string>
	<key>pivotalSingletonCount</key>
	<string>queryAboutComposite</string>
	<key>profilePatternSkewx</key>
	<string>activeActionDirection</string>
	<key>tensorDescriptionForce</key>
	<string>globalCommandType</string>
</dict>
</plist>
