<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCycleBottom</key>
	<string>sensorInJob</string>
	<key>otherOverlayRight</key>
	<string>radioLikeLayer</string>
	<key>retainedChapterPressure</key>
	<string>flexMementoSize</string>
	<key>routeAboutPattern</key>
	<string>previewInParam</string>
	<key>swiftParameterStatus</key>
	<string>interactorThanAdapter</string>
	<key>transitionIncludeParam</key>
	<string>scaffoldAsComposite</string>
	<key>workflowNearValue</key>
	<string>mobxAdapterValidation</string>
</dict>
</plist>
