<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOfCommand</key>
	<string>customAspectMargin</string>
	<key>invisibleManagerDistance</key>
	<string>queueCycleState</string>
	<key>parallelStatelessRate</key>
	<string>secondMediaBorder</string>
	<key>previewAboutState</key>
	<string>serviceMediatorDelay</string>
	<key>requestStyleSaturation</key>
	<string>multiOffsetKind</string>
	<key>seamlessActionFormat</key>
	<string>specifierIncludeChain</string>
	<key>shaderAroundFramework</key>
	<string>controllerActivityTail</string>
</dict>
</plist>
