<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricWidgetSkewy</key>
	<string>localExpandedCoord</string>
	<key>greatSwitchOpacity</key>
	<string>hyperbolicSymbolTop</string>
	<key>mutableSubscriptionOrigin</key>
	<string>backwardCubitHead</string>
	<key>textfieldThroughActivity</key>
	<string>accessibleStatelessSpacing</string>
</dict>
</plist>
