<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnParamTag</key>
	<string>queueDecoratorColor</string>
	<key>constraintMethodTint</key>
	<string>injectionOrParameter</string>
	<key>consultativeChartState</key>
	<string>containerAwayStructure</string>
	<key>controllerObserverStyle</key>
	<string>routerExceptContext</string>
	<key>coordinatorViaMode</key>
	<string>mobileTabviewDuration</string>
	<key>diffableSignFrequency</key>
	<string>widgetFromParameter</string>
	<key>labelFlyweightTheme</key>
	<string>labelScopeFeedback</string>
	<key>repositoryLikeStrategy</key>
	<string>spineWorkVisibility</string>
	<key>routeWithActivity</key>
	<string>transformerCommandKind</string>
	<key>tangentBesideType</key>
	<string>featureInsideBuffer</string>
</dict>
</plist>
