<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerSingletonSpacing</key>
	<string>viewOfPhase</string>
	<key>criticalSineHue</key>
	<string>layerFromState</string>
	<key>nodeAndShape</key>
	<string>sineBufferEdge</string>
	<key>queryWithoutStyle</key>
	<string>sequentialResourceAlignment</string>
	<key>sessionVarState</key>
	<string>groupLikeCycle</string>
</dict>
</plist>
