<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCycleName</key>
	<string>independentWorkflowSize</string>
	<key>beginnerUnaryState</key>
	<string>ephemeralExceptionDistance</string>
	<key>constraintWithoutFlyweight</key>
	<string>cubeParameterTag</string>
	<key>effectTypeFeedback</key>
	<string>enabledProgressbarFrequency</string>
	<key>errorBridgeTheme</key>
	<string>precisionContextVisibility</string>
	<key>eventOrTemple</key>
	<string>methodAboutInterpreter</string>
	<key>graphThanSingleton</key>
	<string>curveOrValue</string>
	<key>integerPhaseSkewx</key>
	<string>awaitStageSize</string>
	<key>menuWithState</key>
	<string>asyncValueInset</string>
</dict>
</plist>
