<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetIncludeContext</key>
	<string>uniformMissionMomentum</string>
	<key>capsuleWithObserver</key>
	<string>cardVersusForm</string>
	<key>cardAlongFramework</key>
	<string>bufferBridgeSkewy</string>
	<key>coordinatorFormBottom</key>
	<string>displayableExpandedContrast</string>
	<key>groupAtDecorator</key>
	<string>resourceBesideStyle</string>
	<key>groupInKind</key>
	<string>cellExceptContext</string>
</dict>
</plist>
