<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStampPressure</key>
	<string>utilChainTop</string>
	<key>channelAroundStructure</key>
	<string>assetVariableFeedback</string>
	<key>chapterInComposite</key>
	<string>lastSliderTheme</string>
	<key>semanticsAmongVariable</key>
	<string>scrollableUtilInterval</string>
</dict>
</plist>
