<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionEffectStatus</key>
	<string>tableContainValue</string>
	<key>basicFuturePadding</key>
	<string>observerFrameworkTransparency</string>
	<key>crucialSingletonFlags</key>
	<string>nativeTransitionSpeed</string>
	<key>directlyChartStatus</key>
	<string>specifyCertificatePosition</string>
	<key>imperativeStackRate</key>
	<string>greatIntegerRight</string>
	<key>largeOptionHead</key>
	<string>textUntilBridge</string>
	<key>navigatorAgainstMemento</key>
	<string>multiplicationByProxy</string>
	<key>navigatorLikeParam</key>
	<string>constViewRotation</string>
	<key>tableProxyType</key>
	<string>rowNumberSize</string>
</dict>
</plist>
