<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncExceptActivity</key>
	<string>sequentialBuilderTop</string>
	<key>coordinatorContainCommand</key>
	<string>alignmentSinceMode</string>
	<key>grainStrategyColor</key>
	<string>spotThroughTemple</string>
	<key>gridCompositeInteraction</key>
	<string>isolateBesideCycle</string>
	<key>ignoredRadioPadding</key>
	<string>borderWithMediator</string>
	<key>metadataExceptType</key>
	<string>uniformBufferTail</string>
</dict>
</plist>
