<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterObserverDistance</key>
	<string>touchSinceCommand</string>
	<key>curveExceptParameter</key>
	<string>profileDuringKind</string>
	<key>intuitivePositionedTension</key>
	<string>compositionBeyondKind</string>
	<key>paddingVarPadding</key>
	<string>currentLayerForce</string>
	<key>popupThroughContext</key>
	<string>concreteAlphaSkewy</string>
	<key>responsiveAlertTail</key>
	<string>interfaceFrameworkLeft</string>
	<key>subpixelBeyondAdapter</key>
	<string>listenerAsActivity</string>
</dict>
</plist>
