<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPhaseInset</key>
	<string>loopEnvironmentShape</string>
	<key>effectIncludeJob</key>
	<string>graphPhaseRotation</string>
	<key>immediateArithmeticStatus</key>
	<string>optionIncludeForm</string>
	<key>queryThroughContext</key>
	<string>localizationMementoSkewx</string>
	<key>scaffoldOperationMode</key>
	<string>specifierDespiteParam</string>
	<key>secondSignCoord</key>
	<string>convolutionSystemCount</string>
	<key>sizedboxParameterLocation</key>
	<string>routeWithWork</string>
	<key>subsequentGradientRotation</key>
	<string>persistentReducerFrequency</string>
	<key>usedAccessoryLeft</key>
	<string>curveScopeDensity</string>
</dict>
</plist>
