<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderWorkTag</key>
	<string>reactiveFragmentShape</string>
	<key>exponentModeLeft</key>
	<string>equalizationFormDelay</string>
	<key>futureAndTask</key>
	<string>priorityStageEdge</string>
	<key>grayscaleAndShape</key>
	<string>mobileTernaryBottom</string>
	<key>modalProxyDistance</key>
	<string>usecaseFormPadding</string>
	<key>pinchableMaterialDirection</key>
	<string>alignmentEnvironmentValidation</string>
	<key>secondTextMargin</key>
	<string>positionAlongChain</string>
	<key>temporaryStampTheme</key>
	<string>petInsideNumber</string>
	<key>titleBeyondChain</key>
	<string>segmentByEnvironment</string>
</dict>
</plist>
