<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineStageRate</key>
	<string>usageOfOperation</string>
	<key>documentCycleMomentum</key>
	<string>tweenSinceVariable</string>
	<key>hardMediaqueryMomentum</key>
	<string>configurationUntilTemple</string>
	<key>ignoredSingletonDuration</key>
	<string>usecaseFunctionEdge</string>
	<key>layerOrComposite</key>
	<string>resourceStyleBrightness</string>
	<key>mediaqueryForForm</key>
	<string>challengeInComposite</string>
	<key>multiNibPosition</key>
	<string>appbarThanScope</string>
	<key>rapidAlignmentResponse</key>
	<string>matrixWithFacade</string>
	<key>rapidMissionVelocity</key>
	<string>plateForTier</string>
	<key>uniqueKernelStatus</key>
	<string>bufferShapeOrientation</string>
</dict>
</plist>
