<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAndOperation</key>
	<string>pivotalParticleRight</string>
	<key>grainWithoutSystem</key>
	<string>primaryParticleDepth</string>
	<key>projectAsComposite</key>
	<string>equipmentPlatformRotation</string>
	<key>significantGroupLocation</key>
	<string>intuitiveLayoutState</string>
	<key>uniformCoordinatorSkewx</key>
	<string>lostProviderIndex</string>
</dict>
</plist>
