<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPlatformHue</key>
	<string>sineBesideEnvironment</string>
	<key>decorationAwayProcess</key>
	<string>widgetAdapterSkewy</string>
	<key>eagerPaddingTop</key>
	<string>discardedAwaitVisibility</string>
	<key>specifierProxyLeft</key>
	<string>exceptionEnvironmentOpacity</string>
</dict>
</plist>
