<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryStageDepth</key>
	<string>prismaticGraphicLeft</string>
	<key>gramTierRotation</key>
	<string>swiftTaskName</string>
	<key>musicIncludeLayer</key>
	<string>intermediateChannelsTheme</string>
	<key>positionedPrototypeHead</key>
	<string>previewTaskEdge</string>
	<key>temporaryInteractorSpacing</key>
	<string>anchorAwayParameter</string>
</dict>
</plist>
