<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeButtonTop</key>
	<string>primaryRepositorySize</string>
	<key>diversifiedChallengePadding</key>
	<string>queueWithoutJob</string>
	<key>explicitBuilderMode</key>
	<string>activeSubscriptionFrequency</string>
	<key>futureLevelCount</key>
	<string>sliderAlongParameter</string>
	<key>iterativeRequestVisible</key>
	<string>localScreenDelay</string>
	<key>lossVersusCommand</key>
	<string>euclideanServiceEdge</string>
	<key>titleByStage</key>
	<string>animatedcontainerEnvironmentHead</string>
</dict>
</plist>
