<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteChartFrequency</key>
	<string>listviewActivityTension</string>
	<key>equipmentCycleVelocity</key>
	<string>textfieldBridgeName</string>
	<key>responseViaValue</key>
	<string>intermediateGridRotation</string>
	<key>responsiveObserverPressure</key>
	<string>liteTangentContrast</string>
</dict>
</plist>
