<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAlongLevel</key>
	<string>reducerBeyondAdapter</string>
	<key>grainAndPattern</key>
	<string>animatedRepositoryBottom</string>
	<key>invisibleLayoutSaturation</key>
	<string>oldBlocTint</string>
	<key>petLikeSingleton</key>
	<string>multiCommandTheme</string>
	<key>stepExceptTier</key>
	<string>shaderAroundVar</string>
	<key>typicalPopupAlignment</key>
	<string>beginnerProjectionInteraction</string>
</dict>
</plist>
