<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardPerProcess</key>
	<string>intensityProxyStyle</string>
	<key>dropdownbuttonParamTop</key>
	<string>stackAmongVar</string>
	<key>grainExceptOperation</key>
	<string>rowSingletonInterval</string>
	<key>layoutBeyondWork</key>
	<string>alertWithBuffer</string>
	<key>nativeIsolateRight</key>
	<string>providerTempleMargin</string>
	<key>sessionPrototypeOffset</key>
	<string>tangentScopeTransparency</string>
	<key>sizeBesideObserver</key>
	<string>associatedTouchHead</string>
	<key>smartCardStyle</key>
	<string>transitionNearKind</string>
	<key>transitionAwayStyle</key>
	<string>granularSensorColor</string>
	<key>usageTierVisible</key>
	<string>opaqueAssetShade</string>
</dict>
</plist>
