<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionReductionKind</key>
	<string>particlePhaseCoord</string>
	<key>bulletAroundStrategy</key>
	<string>comprehensiveNibColor</string>
	<key>controllerBridgeDensity</key>
	<string>builderForLevel</string>
	<key>injectionPerJob</key>
	<string>buttonAmongVariable</string>
	<key>iterativeResolverBehavior</key>
	<string>constraintDuringOperation</string>
	<key>layerThroughInterpreter</key>
	<string>modelViaScope</string>
	<key>methodOfProxy</key>
	<string>protectedMediaqueryOrientation</string>
	<key>queueFrameworkSkewx</key>
	<string>displayableTextfieldMomentum</string>
	<key>smartPresenterSkewy</key>
	<string>graphFromAction</string>
	<key>tweenStyleOrientation</key>
	<string>precisionFormFormat</string>
</dict>
</plist>
