<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticFromBridge</key>
	<string>containerFlyweightState</string>
	<key>chartFromFunction</key>
	<string>arithmeticStepShade</string>
	<key>histogramNearContext</key>
	<string>skinContainVar</string>
	<key>routeSystemValidation</key>
	<string>intensityParameterDirection</string>
	<key>serviceInsideSingleton</key>
	<string>custompaintFunctionBehavior</string>
	<key>sharedDescriptionTension</key>
	<string>directlyCertificateTheme</string>
	<key>statelessVersusForm</key>
	<string>zoneCycleAppearance</string>
	<key>taskDuringAdapter</key>
	<string>mediaActionMomentum</string>
	<key>textInsideFacade</key>
	<string>navigationAgainstLayer</string>
</dict>
</plist>
