<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentCommandTop</key>
	<string>buttonOfVar</string>
	<key>capsuleActivityOrientation</key>
	<string>enabledOperationInteraction</string>
	<key>dynamicNodeStatus</key>
	<string>precisionVersusScope</string>
	<key>equipmentStrategyBorder</key>
	<string>navigationTempleType</string>
	<key>mutableResultVisibility</key>
	<string>sortedMissionSpeed</string>
	<key>streamPerMethod</key>
	<string>webSceneOrientation</string>
	<key>textPerFacade</key>
	<string>graphInContext</string>
</dict>
</plist>
