<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryForTemple</key>
	<string>concreteHeapDensity</string>
	<key>frameAboutFacade</key>
	<string>methodViaType</string>
	<key>fusedReferenceBrightness</key>
	<string>functionalCardFrequency</string>
	<key>interfaceCompositeTop</key>
	<string>disabledDecorationDirection</string>
	<key>rowSinceProcess</key>
	<string>futureTierScale</string>
	<key>tabviewAdapterRotation</key>
	<string>secondResponseBorder</string>
</dict>
</plist>
