<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventParamOrigin</key>
	<string>animatedcontainerOfPhase</string>
	<key>hierarchicalAnimationDuration</key>
	<string>cubitAgainstMediator</string>
	<key>nativeChapterPressure</key>
	<string>directAllocatorMode</string>
	<key>pinchableCosineEdge</key>
	<string>constSliderPosition</string>
	<key>tensorHeapStatus</key>
	<string>commonGrainCenter</string>
</dict>
</plist>
