<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectSystemCoord</key>
	<string>apertureInterpreterRight</string>
	<key>chartLikeSingleton</key>
	<string>substantialResourceForce</string>
	<key>instructionCommandFeedback</key>
	<string>crudeBuilderLeft</string>
	<key>intermediateOperationTension</key>
	<string>actionMediatorResponse</string>
	<key>labelFacadeBrightness</key>
	<string>subsequentPetInterval</string>
	<key>notifierAtFramework</key>
	<string>localCapsuleTheme</string>
	<key>optionLikeBuffer</key>
	<string>isolateWithoutChain</string>
	<key>otherTernaryStatus</key>
	<string>cartesianDescriptionShade</string>
	<key>prismaticMapFlags</key>
	<string>workflowStageBrightness</string>
	<key>taskTempleName</key>
	<string>deferredTaskLocation</string>
</dict>
</plist>
