<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAboutVariable</key>
	<string>textWithoutAction</string>
	<key>draggableRectResponse</key>
	<string>directlySingletonFrequency</string>
	<key>gestureWithoutObserver</key>
	<string>providerSingletonVisible</string>
	<key>inkwellEnvironmentForce</key>
	<string>lastListenerCenter</string>
	<key>permanentSizeSaturation</key>
	<string>streamByEnvironment</string>
	<key>significantAlignmentCenter</key>
	<string>managerNearAdapter</string>
	<key>stackOperationSkewy</key>
	<string>actionShapeMode</string>
	<key>streamInterpreterInset</key>
	<string>independentRoleMomentum</string>
</dict>
</plist>
