<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSingletonShade</key>
	<string>functionalRouterRight</string>
	<key>cartesianTangentBrightness</key>
	<string>overlayInParam</string>
	<key>challengeStateRight</key>
	<string>streamThroughTemple</string>
	<key>directVectorInset</key>
	<string>chapterInterpreterSize</string>
	<key>lazyLogDirection</key>
	<string>iconStateVelocity</string>
	<key>observerStageDelay</key>
	<string>singleFutureLeft</string>
	<key>scaffoldValueDistance</key>
	<string>injectionVisitorRotation</string>
	<key>tickerPrototypeVisible</key>
	<string>imperativeDecorationName</string>
</dict>
</plist>
