<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystAtDecorator</key>
	<string>comprehensiveSegueFormat</string>
	<key>interactorThroughStage</key>
	<string>curveProxyDuration</string>
	<key>mutableCanvasScale</key>
	<string>spriteLayerFormat</string>
	<key>serviceCommandHead</key>
	<string>stackProcessCoord</string>
</dict>
</plist>
