<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureWithStyle</key>
	<string>discardedZoneKind</string>
	<key>localBoxOrigin</key>
	<string>hashObserverType</string>
	<key>mobxVisitorTheme</key>
	<string>aspectratioStateBrightness</string>
</dict>
</plist>
