<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarPlatformHead</key>
	<string>animationInMode</string>
	<key>callbackLevelInset</key>
	<string>crucialBatchRate</string>
	<key>elasticGraphicDuration</key>
	<string>cellMementoBehavior</string>
	<key>extensionCompositeDelay</key>
	<string>declarativeResourceSaturation</string>
	<key>masterFromFunction</key>
	<string>behaviorContainChain</string>
	<key>symmetricRiverpodEdge</key>
	<string>optionVariableKind</string>
</dict>
</plist>
