<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicBufferBottom</key>
	<string>layerBridgeLocation</string>
	<key>descriptionProxyOpacity</key>
	<string>asyncVersusDecorator</string>
	<key>menuAndShape</key>
	<string>frameFromActivity</string>
	<key>providerProcessFrequency</key>
	<string>textfieldAboutMediator</string>
	<key>specifyDocumentStyle</key>
	<string>semanticUsecaseVisibility</string>
	<key>timerLayerTint</key>
	<string>tweenPhaseShape</string>
	<key>usecaseAgainstFlyweight</key>
	<string>geometricDropdownbuttonAppearance</string>
</dict>
</plist>
