<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorAroundProcess</key>
	<string>smallTransitionPosition</string>
	<key>boxshadowFrameworkContrast</key>
	<string>progressbarAndVariable</string>
	<key>chartVariableBrightness</key>
	<string>significantConstraintSpacing</string>
	<key>functionalViewBound</key>
	<string>interfaceUntilBuffer</string>
	<key>hashDecoratorState</key>
	<string>heapBeyondMediator</string>
	<key>scrollDuringOperation</key>
	<string>canvasForFacade</string>
	<key>sliderTemplePressure</key>
	<string>animatedSliderSpeed</string>
	<key>timerLayerSpeed</key>
	<string>animatedcontainerParamEdge</string>
	<key>transitionNearObserver</key>
	<string>primaryListenerBorder</string>
	<key>unaryModeMargin</key>
	<string>curveAgainstTask</string>
</dict>
</plist>
