<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheInAdapter</key>
	<string>pinchableSkinAppearance</string>
	<key>certificateChainMode</key>
	<string>ignoredCellCoord</string>
	<key>durationViaFramework</key>
	<string>liteRemainderTail</string>
	<key>graphicFormPadding</key>
	<string>kernelShapeSaturation</string>
	<key>handlerOfVisitor</key>
	<string>missionPhaseTransparency</string>
	<key>hierarchicalLoopDelay</key>
	<string>toolLevelResponse</string>
	<key>seamlessFutureSkewx</key>
	<string>routeStyleStatus</string>
	<key>symmetricMapScale</key>
	<string>scaleDespiteMediator</string>
</dict>
</plist>
