<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityStructureTint</key>
	<string>providerDuringState</string>
	<key>grayscaleModeTag</key>
	<string>futureStatePosition</string>
	<key>sustainableFrameDelay</key>
	<string>injectionOrPrototype</string>
</dict>
</plist>
