<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateTierMomentum</key>
	<string>providerPatternTension</string>
	<key>delegateActivityVisible</key>
	<string>documentExceptFramework</string>
	<key>delicatePainterVelocity</key>
	<string>textBesidePlatform</string>
	<key>extensionVariablePosition</key>
	<string>priorityMediatorRight</string>
	<key>fusedDescriptionColor</key>
	<string>standaloneExtensionShape</string>
	<key>imageLayerKind</key>
	<string>multiplicationViaLayer</string>
	<key>precisionAroundInterpreter</key>
	<string>dependencyPrototypeBorder</string>
	<key>requestParameterMargin</key>
	<string>lostPromiseBehavior</string>
	<key>subpixelIncludeVariable</key>
	<string>collectionNearPhase</string>
</dict>
</plist>
