<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateInsideContext</key>
	<string>getxBeyondVisitor</string>
	<key>intuitiveTimerPressure</key>
	<string>nativeCheckboxCenter</string>
	<key>localizationVarForce</key>
	<string>taskStyleHue</string>
	<key>rowByState</key>
	<string>compositionalMonsterSpeed</string>
</dict>
</plist>
