<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAroundParameter</key>
	<string>columnInVar</string>
	<key>configurationSystemPressure</key>
	<string>euclideanDescriptionSpacing</string>
	<key>effectInCommand</key>
	<string>boxshadowThanObserver</string>
	<key>serviceOfStyle</key>
	<string>notificationVersusMediator</string>
	<key>storagePerChain</key>
	<string>radiusNearFunction</string>
	<key>titleAgainstPattern</key>
	<string>usageBridgeScale</string>
	<key>vectorThroughFramework</key>
	<string>modulusPatternOffset</string>
</dict>
</plist>
