<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioViaFunction</key>
	<string>aspectOrSingleton</string>
	<key>channelDuringVisitor</key>
	<string>widgetFlyweightFrequency</string>
	<key>cursorFromSystem</key>
	<string>dependencyWithoutVar</string>
	<key>difficultAwaitInterval</key>
	<string>routeAndScope</string>
	<key>discardedEntityCenter</key>
	<string>entityForStyle</string>
	<key>lossAroundPattern</key>
	<string>customStreamName</string>
	<key>masterJobDuration</key>
	<string>visibleBehaviorTint</string>
	<key>viewDecoratorCount</key>
	<string>widgetLayerInset</string>
</dict>
</plist>
