<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainOperationOpacity</key>
	<string>logAwayForm</string>
	<key>graphicAgainstFlyweight</key>
	<string>grayscaleNearMode</string>
	<key>monsterOfVariable</key>
	<string>tabviewOutsideTask</string>
	<key>referenceMementoName</key>
	<string>builderInsideStyle</string>
	<key>riverpodOperationBorder</key>
	<string>presenterStyleVisible</string>
	<key>spriteBufferBorder</key>
	<string>isolateTierStyle</string>
	<key>sustainableSessionBorder</key>
	<string>invisibleServiceBound</string>
</dict>
</plist>
