<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateByWork</key>
	<string>awaitActionCenter</string>
	<key>delicateViewColor</key>
	<string>optimizerContainProxy</string>
	<key>lazyIntegerShade</key>
	<string>uniformBufferValidation</string>
	<key>monsterBufferTail</key>
	<string>subpixelAsChain</string>
	<key>offsetDecoratorType</key>
	<string>masterTierIndex</string>
	<key>segueBridgeBottom</key>
	<string>transitionAroundShape</string>
	<key>tableFlyweightInteraction</key>
	<string>positionedPerDecorator</string>
	<key>taskNearMethod</key>
	<string>plateForWork</string>
</dict>
</plist>
