<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorProcessForce</key>
	<string>radioPhaseCount</string>
	<key>completerTierLocation</key>
	<string>decorationIncludePlatform</string>
	<key>contractionVariableShape</key>
	<string>navigatorBySystem</string>
	<key>dynamicTouchSize</key>
	<string>sustainableRouterOffset</string>
	<key>firstMarginTail</key>
	<string>subscriptionStyleShape</string>
	<key>fixedSinkDelay</key>
	<string>mediaqueryPhaseHue</string>
	<key>fixedStreamMode</key>
	<string>independentCaptionInterval</string>
	<key>publicSlashPressure</key>
	<string>serviceModeSize</string>
	<key>tickerAwayStrategy</key>
	<string>globalListviewMode</string>
</dict>
</plist>
