<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAlongShape</key>
	<string>desktopScaleResponse</string>
	<key>ephemeralViewCount</key>
	<string>parallelListenerState</string>
	<key>firstMissionSize</key>
	<string>storyboardInterpreterLocation</string>
	<key>rectFacadeFrequency</key>
	<string>compositionalSingletonVelocity</string>
	<key>singletonTaskTension</key>
	<string>isolateFromStage</string>
	<key>synchronousTexturePosition</key>
	<string>memberAdapterLocation</string>
	<key>toolLevelEdge</key>
	<string>heroOutsideMemento</string>
</dict>
</plist>
