<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerMediatorDistance</key>
	<string>equipmentAboutChain</string>
	<key>positionThanLevel</key>
	<string>lastRepositoryResponse</string>
	<key>workflowViaFacade</key>
	<string>stampAwayActivity</string>
</dict>
</plist>
