<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedTopicStatus</key>
	<string>parallelErrorTag</string>
	<key>hardBoxAlignment</key>
	<string>baselineOperationOrigin</string>
	<key>robustHistogramSize</key>
	<string>viewPrototypeTheme</string>
	<key>skirtStructureTheme</key>
	<string>nextStoreOrigin</string>
</dict>
</plist>
