<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryActionPadding</key>
	<string>viewVersusAdapter</string>
	<key>aspectIncludeCycle</key>
	<string>entityTierDensity</string>
	<key>associatedSpriteVisibility</key>
	<string>routeMementoHead</string>
	<key>hashExceptBridge</key>
	<string>textNumberTint</string>
	<key>intuitiveIntensityEdge</key>
	<string>observerWithoutAdapter</string>
	<key>monsterDuringLayer</key>
	<string>multiTableType</string>
	<key>sizeStrategyFrequency</key>
	<string>mediumMenuOrigin</string>
	<key>sustainableMaterialValidation</key>
	<string>intuitiveRectFormat</string>
</dict>
</plist>
