<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryVisitorFeedback</key>
	<string>contractionFromInterpreter</string>
	<key>capsuleActionBound</key>
	<string>cosineActionOrientation</string>
	<key>flexDespiteFlyweight</key>
	<string>histogramInterpreterInteraction</string>
	<key>menuModeSpacing</key>
	<string>projectionContainLevel</string>
</dict>
</plist>
