<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartLikeType</key>
	<string>channelsJobInteraction</string>
	<key>containerUntilStrategy</key>
	<string>futurePlatformShade</string>
	<key>dedicatedMatrixCoord</key>
	<string>switchUntilStructure</string>
	<key>disabledRepositoryFlags</key>
	<string>promiseWorkStatus</string>
	<key>discardedTouchState</key>
	<string>stateInsideChain</string>
	<key>expandedByCommand</key>
	<string>movementParamIndex</string>
	<key>robustCallbackPadding</key>
	<string>providerSystemTension</string>
	<key>segueForProxy</key>
	<string>missionForPhase</string>
	<key>significantTransitionLocation</key>
	<string>errorValueName</string>
	<key>sustainableStreamSize</key>
	<string>errorOutsideTask</string>
</dict>
</plist>
