<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseControllerCenter</key>
	<string>statefulCommandFormat</string>
	<key>gramDuringPattern</key>
	<string>sceneLayerResponse</string>
	<key>sustainablePlaybackEdge</key>
	<string>commonBufferMargin</string>
	<key>usageFacadeDistance</key>
	<string>rowVariableSaturation</string>
</dict>
</plist>
