<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAroundValue</key>
	<string>overlayWithoutInterpreter</string>
	<key>constraintMementoAcceleration</key>
	<string>topicVarCoord</string>
	<key>groupExceptStage</key>
	<string>difficultTechniqueShade</string>
	<key>lazyProgressbarRotation</key>
	<string>mapContainEnvironment</string>
	<key>menuLayerSize</key>
	<string>taskAtTask</string>
	<key>multiExponentFormat</key>
	<string>notifierOperationCount</string>
	<key>popupBufferOffset</key>
	<string>sizeInsideContext</string>
	<key>promiseParamBorder</key>
	<string>consultativeExponentDelay</string>
	<key>sliderTierLocation</key>
	<string>entityVisitorTheme</string>
</dict>
</plist>
