<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAtStrategy</key>
	<string>nativeMultiplicationTop</string>
	<key>clipperCommandShape</key>
	<string>injectionEnvironmentVelocity</string>
	<key>cupertinoCycleMomentum</key>
	<string>delegateBesideParam</string>
	<key>cycleStateLeft</key>
	<string>chartFromState</string>
	<key>frameActivityLocation</key>
	<string>fragmentCompositeSize</string>
	<key>movementLikeStage</key>
	<string>utilTempleTransparency</string>
	<key>spineInProxy</key>
	<string>captionVersusPattern</string>
</dict>
</plist>
