<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteExceptionOffset</key>
	<string>allocatorAndForm</string>
	<key>explicitConstraintDelay</key>
	<string>iterativeProfileDirection</string>
	<key>firstStateSkewy</key>
	<string>baselineBufferKind</string>
	<key>mediaSystemValidation</key>
	<string>consultativeConstraintBrightness</string>
	<key>oldActivityDistance</key>
	<string>chapterProxyOrigin</string>
	<key>requestPrototypeValidation</key>
	<string>subscriptionVarVisibility</string>
	<key>swiftPatternForce</key>
	<string>nextTransitionSize</string>
	<key>symmetricEventSaturation</key>
	<string>accessoryNearContext</string>
	<key>timerFrameworkRotation</key>
	<string>navigatorFrameworkRate</string>
	<key>topicPrototypeSkewy</key>
	<string>lazyResolverSpeed</string>
</dict>
</plist>
