<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationBesideForm</key>
	<string>allocatorSinceAction</string>
	<key>checklistAboutJob</key>
	<string>workflowStateRight</string>
	<key>configurationFromVisitor</key>
	<string>cursorStrategyValidation</string>
	<key>indicatorParameterDepth</key>
	<string>captionInsideVar</string>
	<key>lossTypeMargin</key>
	<string>axisByMode</string>
	<key>observerStyleAppearance</key>
	<string>subscriptionCompositeOrigin</string>
	<key>otherSegmentSpacing</key>
	<string>factoryAndStrategy</string>
	<key>sinkAwayObserver</key>
	<string>mediaqueryLikePattern</string>
</dict>
</plist>
