<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledCanvasIndex</key>
	<string>activatedLabelState</string>
	<key>displayableRiverpodLocation</key>
	<string>seamlessSignOrientation</string>
	<key>elasticCoordinatorMomentum</key>
	<string>serviceDuringScope</string>
	<key>mediaqueryActivityOpacity</key>
	<string>sustainableOverlayDepth</string>
	<key>menuFlyweightVisible</key>
	<string>storageAboutSingleton</string>
	<key>radiusAwayDecorator</key>
	<string>discardedRemainderOrientation</string>
</dict>
</plist>
