<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particleWithPhase</key>
	<string>histogramInterpreterSpacing</string>
	<key>pinchableDecorationSaturation</key>
	<string>persistentTitleFrequency</string>
	<key>presenterStructureFeedback</key>
	<string>baselineAboutFramework</string>
	<key>specifyManagerMargin</key>
	<string>reductionShapeOrientation</string>
	<key>sustainableOptimizerSize</key>
	<string>queueActivityCenter</string>
</dict>
</plist>
