<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAlongTask</key>
	<string>opaqueDependencyBehavior</string>
	<key>constraintTierTension</key>
	<string>responseBeyondState</string>
	<key>eagerErrorColor</key>
	<string>custompaintDecoratorBrightness</string>
	<key>easyInkwellPressure</key>
	<string>autoInterfaceDirection</string>
	<key>exceptionVisitorDirection</key>
	<string>interfaceDespiteInterpreter</string>
	<key>grayscaleActionIndex</key>
	<string>multiCoordinatorMode</string>
	<key>primaryButtonPadding</key>
	<string>rapidMasterFrequency</string>
	<key>resolverCommandScale</key>
	<string>cupertinoIncludeDecorator</string>
	<key>spineProcessSkewy</key>
	<string>otherPopupState</string>
</dict>
</plist>
