<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonWidgetInset</key>
	<string>eventBufferHue</string>
	<key>documentOrBridge</key>
	<string>alphaJobInset</string>
	<key>menuForBuffer</key>
	<string>autoDimensionSkewy</string>
	<key>modalViaProxy</key>
	<string>completerCompositeMomentum</string>
</dict>
</plist>
