<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAmongInterpreter</key>
	<string>eventCompositeKind</string>
	<key>boxActionMargin</key>
	<string>resolverNearBuffer</string>
	<key>desktopFeatureState</key>
	<string>semanticGetxRate</string>
	<key>durationPhaseContrast</key>
	<string>projectSincePattern</string>
	<key>gemBesideParam</key>
	<string>routeModeBrightness</string>
	<key>groupBesideWork</key>
	<string>smartListenerLeft</string>
	<key>missionBufferRate</key>
	<string>directIntensitySpacing</string>
	<key>modelDespiteAdapter</key>
	<string>priorControllerBottom</string>
</dict>
</plist>
