<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentOfStrategy</key>
	<string>cupertinoLabelDepth</string>
	<key>gemEnvironmentTail</key>
	<string>textureByParam</string>
	<key>mutableNavigatorOrigin</key>
	<string>originalMetadataInterval</string>
	<key>originalPositionOrigin</key>
	<string>graphVarRotation</string>
	<key>presenterAtStructure</key>
	<string>bitrateLikeFunction</string>
	<key>resourceObserverTail</key>
	<string>originalChannelVelocity</string>
	<key>subscriptionKindCount</key>
	<string>isolateCompositeCount</string>
</dict>
</plist>
