<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheBufferTransparency</key>
	<string>buttonWithoutParam</string>
	<key>documentFlyweightFormat</key>
	<string>modelWorkInterval</string>
	<key>ephemeralConfigurationShape</key>
	<string>canvasOperationInteraction</string>
	<key>gesturedetectorMethodDepth</key>
	<string>particlePerFacade</string>
	<key>grainTierRate</key>
	<string>logarithmAboutCycle</string>
	<key>localizationExceptType</key>
	<string>layerAwayObserver</string>
	<key>opaqueExceptionSkewy</key>
	<string>grayscaleAdapterName</string>
	<key>progressbarLevelOrientation</key>
	<string>mediaqueryByStyle</string>
	<key>reusableMatrixSkewx</key>
	<string>cycleMediatorRotation</string>
	<key>scaleFlyweightRight</key>
	<string>subpixelBeyondPattern</string>
</dict>
</plist>
