<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularMethodTension</key>
	<string>errorInsideFlyweight</string>
	<key>intuitiveAlertMode</key>
	<string>toolBufferShade</string>
	<key>missionInObserver</key>
	<string>taskPhaseCenter</string>
	<key>multiRepositoryTheme</key>
	<string>bufferInJob</string>
	<key>nativeSizedboxMomentum</key>
	<string>handlerBufferMomentum</string>
	<key>priorTablePressure</key>
	<string>primaryEquipmentHue</string>
	<key>priorityVariableIndex</key>
	<string>channelsAgainstSingleton</string>
	<key>repositoryDuringChain</key>
	<string>resizableStepName</string>
	<key>statefulVariableName</key>
	<string>projectionAdapterBehavior</string>
</dict>
</plist>
