<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyIsolateScale</key>
	<string>observerWithoutLevel</string>
	<key>durationEnvironmentOrientation</key>
	<string>cartesianRouteVisibility</string>
	<key>euclideanObserverFeedback</key>
	<string>popupActionAlignment</string>
	<key>featureWithoutLayer</key>
	<string>histogramChainPressure</string>
	<key>futureBridgeHead</key>
	<string>transitionParameterFlags</string>
	<key>masterAmongContext</key>
	<string>opaqueResourceMode</string>
</dict>
</plist>
