<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directConstraintCoord</key>
	<string>chapterProxyContrast</string>
	<key>promiseCycleOrientation</key>
	<string>heapStructureTheme</string>
	<key>unactivatedInstructionDelay</key>
	<string>sophisticatedPopupPadding</string>
	<key>variantCycleBehavior</key>
	<string>documentExceptDecorator</string>
</dict>
</plist>
