<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionVariableOrientation</key>
	<string>capsuleOfFacade</string>
	<key>columnAgainstVariable</key>
	<string>smartCatalystDelay</string>
	<key>iterativeInterfaceDelay</key>
	<string>uniformIndicatorCoord</string>
	<key>relationalAccessoryBound</key>
	<string>spineTypeIndex</string>
	<key>sceneExceptPhase</key>
	<string>durationFormResponse</string>
	<key>stateAtMethod</key>
	<string>completerTaskPadding</string>
	<key>transitionNumberOrientation</key>
	<string>builderInterpreterOffset</string>
</dict>
</plist>
