<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaProcessPadding</key>
	<string>tweenTierBound</string>
	<key>autoSpecifierTag</key>
	<string>loopCommandTension</string>
	<key>compositionVersusTask</key>
	<string>webTaskOrientation</string>
	<key>custompaintTaskTag</key>
	<string>segueThanWork</string>
	<key>dynamicWidgetFrequency</key>
	<string>crudeOffsetMargin</string>
	<key>explicitManagerType</key>
	<string>progressbarVariableLeft</string>
	<key>responsiveCubitDelay</key>
	<string>synchronousContainerPressure</string>
</dict>
</plist>
