<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocLayerLocation</key>
	<string>listenerCommandEdge</string>
	<key>loopDuringTask</key>
	<string>stateBridgeTheme</string>
	<key>prevRouterIndex</key>
	<string>semanticsActionValidation</string>
	<key>profileAgainstScope</key>
	<string>checkboxStageForce</string>
</dict>
</plist>
