<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineVersusKind</key>
	<string>eventLayerOrientation</string>
	<key>interactiveTweenSpacing</key>
	<string>storeStateType</string>
	<key>signFacadeBottom</key>
	<string>sortedModulusEdge</string>
	<key>usageJobFeedback</key>
	<string>animationSinceProxy</string>
</dict>
</plist>
