<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasContextColor</key>
	<string>chartDespiteChain</string>
	<key>constraintAtBuffer</key>
	<string>immutableRouterTag</string>
	<key>containerPhaseContrast</key>
	<string>stepWithVar</string>
	<key>descriptionDuringDecorator</key>
	<string>tickerStateBrightness</string>
	<key>desktopMaterialSaturation</key>
	<string>imperativeSliderShade</string>
	<key>frameIncludeObserver</key>
	<string>immutableTabviewOrientation</string>
	<key>gridviewAndObserver</key>
	<string>indicatorOutsideAdapter</string>
	<key>slashFacadeOpacity</key>
	<string>alignmentViaTemple</string>
	<key>transformerAlongState</key>
	<string>desktopAlertTension</string>
</dict>
</plist>
