<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicResolverDelay</key>
	<string>beginnerCharacterMode</string>
	<key>crucialTextColor</key>
	<string>sinkFrameworkFlags</string>
	<key>materialSkinInteraction</key>
	<string>bufferAwayMemento</string>
	<key>reactiveReductionInset</key>
	<string>radioWorkIndex</string>
	<key>usedHeapDirection</key>
	<string>giftTierDelay</string>
</dict>
</plist>
