<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAdapterLeft</key>
	<string>imperativeTextStyle</string>
	<key>instructionValueLeft</key>
	<string>symbolAlongStrategy</string>
	<key>logFormDirection</key>
	<string>animatedcontainerMediatorState</string>
	<key>persistentPainterFrequency</key>
	<string>tableMediatorRate</string>
	<key>queryBesideKind</key>
	<string>paddingSingletonHue</string>
	<key>subsequentCollectionLocation</key>
	<string>effectDespiteContext</string>
</dict>
</plist>
