<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledSpecifierRate</key>
	<string>zoneActionKind</string>
	<key>durationInsideTask</key>
	<string>streamTypeCoord</string>
	<key>flexLevelDuration</key>
	<string>binaryWithoutMediator</string>
	<key>invisibleClipperName</key>
	<string>borderThroughForm</string>
	<key>mobileModelTop</key>
	<string>viewIncludeState</string>
</dict>
</plist>
