<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentAroundTier</key>
	<string>animationWithProxy</string>
	<key>uniqueTechniqueSkewx</key>
	<string>logarithmChainBehavior</string>
</dict>
</plist>
