<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedEntityBottom</key>
	<string>protocolInFramework</string>
	<key>animatedChartDensity</key>
	<string>interpolationFunctionFeedback</string>
	<key>appbarStructurePadding</key>
	<string>rapidDependencyOpacity</string>
	<key>channelFunctionSize</key>
	<string>constFutureForce</string>
	<key>diversifiedChallengeState</key>
	<string>resizableMovementBorder</string>
	<key>nodePlatformTransparency</key>
	<string>operationNumberInset</string>
	<key>sceneWithPlatform</key>
	<string>equalizationUntilPhase</string>
	<key>symbolStrategyColor</key>
	<string>scrollDecoratorInset</string>
	<key>titleContainMode</key>
	<string>chapterOperationEdge</string>
	<key>unsortedContractionLeft</key>
	<string>painterLikeWork</string>
</dict>
</plist>
