<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobxSystemInterval</key>
	<string>alertBesideValue</string>
	<key>primarySingletonSkewy</key>
	<string>advancedSceneResponse</string>
	<key>stepFrameworkContrast</key>
	<string>graphNumberFeedback</string>
	<key>textExceptOperation</key>
	<string>prevNotificationHead</string>
	<key>textureOrActivity</key>
	<string>cubitExceptTemple</string>
</dict>
</plist>
