<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleDespiteVar</key>
	<string>coordinatorStructureTag</string>
	<key>entropyParamTheme</key>
	<string>missedQueryVelocity</string>
	<key>localizationAndNumber</key>
	<string>channelVarShape</string>
	<key>navigatorNearLayer</key>
	<string>blocAtCommand</string>
	<key>normalChartPadding</key>
	<string>featureObserverPosition</string>
	<key>publicSemanticsSkewx</key>
	<string>parallelTaskPadding</string>
	<key>retainedContainerAlignment</key>
	<string>titleWithoutLevel</string>
	<key>rowOfPlatform</key>
	<string>particleSystemEdge</string>
	<key>tangentViaShape</key>
	<string>keyAnimationHead</string>
	<key>widgetBufferDensity</key>
	<string>stateMementoFrequency</string>
</dict>
</plist>
