<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchOfStyle</key>
	<string>queryVersusKind</string>
	<key>commandVersusTask</key>
	<string>independentDocumentVisibility</string>
	<key>comprehensiveCubitTop</key>
	<string>tabviewTierVisibility</string>
	<key>drawerThroughMediator</key>
	<string>accordionDelegateLeft</string>
	<key>flexPatternScale</key>
	<string>skinInValue</string>
	<key>graphMediatorType</key>
	<string>cubeAndInterpreter</string>
	<key>navigationAndVariable</key>
	<string>groupStyleIndex</string>
	<key>referenceAmongValue</key>
	<string>momentumTaskSpeed</string>
	<key>stackTypeTension</key>
	<string>completerModeDelay</string>
</dict>
</plist>
