<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnTaskStatus</key>
	<string>workflowOrScope</string>
	<key>disparateConfigurationFlags</key>
	<string>euclideanUtilFlags</string>
	<key>flexibleTransitionTheme</key>
	<string>disabledAnimationRate</string>
	<key>gestureOfCycle</key>
	<string>specifyContainerHead</string>
	<key>imperativeAllocatorAcceleration</key>
	<string>scrollableSlashRight</string>
	<key>lossAroundLayer</key>
	<string>textActivityRight</string>
	<key>sliderVariableDepth</key>
	<string>textureStyleKind</string>
	<key>sortedMissionVisibility</key>
	<string>serviceVarStyle</string>
</dict>
</plist>
