<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterInsideJob</key>
	<string>directColumnDelay</string>
	<key>composableGridFrequency</key>
	<string>eagerBlocEdge</string>
	<key>curveNearCycle</key>
	<string>descriptionNearTier</string>
	<key>dropdownbuttonWithoutAdapter</key>
	<string>imperativeStorageRotation</string>
	<key>effectPrototypeShade</key>
	<string>interactorWithWork</string>
	<key>eventByTier</key>
	<string>unactivatedCollectionFormat</string>
	<key>sampleWithMode</key>
	<string>agileContainerForce</string>
	<key>smallChannelInteraction</key>
	<string>opaqueProfileScale</string>
	<key>synchronousScaffoldForce</key>
	<string>specifyNodeName</string>
</dict>
</plist>
