<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVariableVelocity</key>
	<string>standaloneAspectAppearance</string>
	<key>catalystDuringCycle</key>
	<string>borderLikePlatform</string>
	<key>cubitCompositeForce</key>
	<string>resolverViaParameter</string>
	<key>unactivatedAsyncPressure</key>
	<string>rapidMasterMode</string>
</dict>
</plist>
