<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAgainstParameter</key>
	<string>layerStyleTint</string>
	<key>coordinatorChainAppearance</key>
	<string>batchThanLayer</string>
	<key>factoryInParam</key>
	<string>respectiveAspectratioOffset</string>
	<key>indicatorScopeResponse</key>
	<string>diversifiedBlocSpacing</string>
	<key>isolateModeInset</key>
	<string>cupertinoHashDensity</string>
	<key>providerForComposite</key>
	<string>particleContextBehavior</string>
</dict>
</plist>
