<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitShapeInteraction</key>
	<string>signatureAmongPhase</string>
	<key>groupTierAppearance</key>
	<string>capacitiesAwayStructure</string>
	<key>stepByPhase</key>
	<string>slashTempleSaturation</string>
	<key>utilDecoratorOpacity</key>
	<string>sequentialResolverDirection</string>
</dict>
</plist>
