<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSingletonTheme</key>
	<string>cartesianInterfaceVisibility</string>
	<key>channelPatternMomentum</key>
	<string>permanentFlexTail</string>
	<key>extensionCompositeTheme</key>
	<string>similarCurveTension</string>
	<key>extensionVariableDirection</key>
	<string>descriptorVariableSize</string>
	<key>menuStyleVelocity</key>
	<string>finalRiverpodAcceleration</string>
	<key>navigatorAgainstForm</key>
	<string>iconFormPadding</string>
	<key>routePerStyle</key>
	<string>offsetWorkVisibility</string>
	<key>sharedDimensionFormat</key>
	<string>chartFlyweightScale</string>
	<key>streamNumberInterval</key>
	<string>inactiveSegmentDepth</string>
	<key>transitionFrameworkDuration</key>
	<string>descriptionExceptProxy</string>
</dict>
</plist>
