<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAssetTail</key>
	<string>builderAwayStrategy</string>
	<key>alignmentCompositeBound</key>
	<string>cupertinoMusicDelay</string>
	<key>desktopTangentTail</key>
	<string>titleNearBuffer</string>
	<key>handlerPrototypeHead</key>
	<string>localSkinTag</string>
	<key>intermediateSignOrientation</key>
	<string>descriptorAroundLevel</string>
	<key>sinkPerStrategy</key>
	<string>fusedReferenceMomentum</string>
	<key>tabbarMethodDirection</key>
	<string>inkwellModeLocation</string>
</dict>
</plist>
