<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterLayerVisible</key>
	<string>characterWithoutFlyweight</string>
	<key>eventCompositeDirection</key>
	<string>navigatorForTask</string>
	<key>grayscaleScopeRight</key>
	<string>sequentialAccessoryPadding</string>
	<key>gridviewStageTransparency</key>
	<string>optionSinceWork</string>
	<key>localizationWorkBound</key>
	<string>sizedboxInSystem</string>
	<key>resizableCapacitiesBottom</key>
	<string>listenerContainObserver</string>
	<key>resourceSinceFacade</key>
	<string>rectByPrototype</string>
	<key>statelessConstraintScale</key>
	<string>localAlphaFeedback</string>
	<key>temporaryActionBorder</key>
	<string>difficultStackLeft</string>
	<key>threadDespiteVariable</key>
	<string>multiExtensionType</string>
</dict>
</plist>
