<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOfTier</key>
	<string>actionFacadeMode</string>
	<key>compositionPlatformPosition</key>
	<string>taskLikeProcess</string>
	<key>effectModeVelocity</key>
	<string>invisibleRowDirection</string>
	<key>precisionLayerCount</key>
	<string>denseResponseBottom</string>
	<key>stateVarBrightness</key>
	<string>originalFlexTension</string>
	<key>topicFrameworkAppearance</key>
	<string>specifyObserverAppearance</string>
	<key>usecaseOrTask</key>
	<string>singleStoreName</string>
</dict>
</plist>
