<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteResolverShape</key>
	<string>cubitFacadeSize</string>
	<key>overlaySinceProcess</key>
	<string>chartDecoratorBorder</string>
	<key>sequentialLocalizationLocation</key>
	<string>statefulBesideBridge</string>
	<key>singleTransformerVisible</key>
	<string>inkwellAroundFacade</string>
	<key>storageDecoratorSpeed</key>
	<string>canvasWorkCenter</string>
</dict>
</plist>
