<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBoxshadowFeedback</key>
	<string>permissiveListenerInset</string>
	<key>autoTechniqueInteraction</key>
	<string>animatedLabelDelay</string>
	<key>configurationStyleSkewx</key>
	<string>curveStyleVisible</string>
	<key>euclideanTransformerLocation</key>
	<string>seamlessGridTag</string>
	<key>permanentUsecasePadding</key>
	<string>touchOrParam</string>
	<key>previewAdapterStyle</key>
	<string>reactiveNavigatorTag</string>
	<key>resultLikeVar</key>
	<string>resourceFormTransparency</string>
</dict>
</plist>
