<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPointInterval</key>
	<string>sizeFrameworkSpacing</string>
	<key>descriptionTypeFrequency</key>
	<string>controllerActionSkewx</string>
	<key>discardedChartTension</key>
	<string>euclideanGemBrightness</string>
	<key>intensityFlyweightFrequency</key>
	<string>textureIncludePhase</string>
	<key>invisibleEntropyOffset</key>
	<string>requestAmongPhase</string>
	<key>painterBeyondPlatform</key>
	<string>descriptorKindTransparency</string>
	<key>providerExceptStructure</key>
	<string>sortedViewSkewy</string>
</dict>
</plist>
