<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseChapterLeft</key>
	<string>semanticOverlayResponse</string>
	<key>layerBesideParam</key>
	<string>alignmentAgainstMemento</string>
	<key>metadataAwayStyle</key>
	<string>managerUntilLayer</string>
	<key>pivotalGroupHue</key>
	<string>memberAgainstMemento</string>
	<key>sophisticatedChartType</key>
	<string>assetIncludeCycle</string>
	<key>variantViaJob</key>
	<string>stampContextBorder</string>
	<key>zoneByJob</key>
	<string>roleThroughStage</string>
</dict>
</plist>
