<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianDurationKind</key>
	<string>bulletParameterVelocity</string>
	<key>characterThroughFlyweight</key>
	<string>retainedGridFormat</string>
	<key>mainMasterBehavior</key>
	<string>tabviewAgainstStructure</string>
	<key>scenePrototypeTint</key>
	<string>explicitTopicContrast</string>
	<key>uniqueSpriteDelay</key>
	<string>gridThanBuffer</string>
</dict>
</plist>
