<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionAndLevel</key>
	<string>capacitiesMethodRate</string>
	<key>gesturedetectorThroughMediator</key>
	<string>iterativeCurveSkewx</string>
	<key>reductionExceptAdapter</key>
	<string>radiusStrategyOffset</string>
	<key>scrollableBulletDensity</key>
	<string>promiseOperationEdge</string>
	<key>segmentVersusPhase</key>
	<string>playbackByProxy</string>
	<key>sensorSystemEdge</key>
	<string>dialogsLevelSpacing</string>
	<key>unactivatedContractionVisible</key>
	<string>graphContextTint</string>
	<key>usecaseThroughOperation</key>
	<string>metadataFromFramework</string>
</dict>
</plist>
