<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCommandOrigin</key>
	<string>localizationPlatformLeft</string>
	<key>appbarParameterBehavior</key>
	<string>clipperTempleResponse</string>
	<key>builderBesideTier</key>
	<string>protocolTempleCenter</string>
	<key>deferredTransitionOpacity</key>
	<string>effectProcessPadding</string>
	<key>ignoredFactoryOrientation</key>
	<string>criticalEntityCoord</string>
	<key>metadataAsProxy</key>
	<string>subpixelExceptMediator</string>
	<key>missedTaskVisibility</key>
	<string>labelParamTension</string>
	<key>signThanVar</key>
	<string>transformerWithoutVisitor</string>
	<key>signatureIncludeObserver</key>
	<string>exponentForObserver</string>
	<key>statefulStoreSaturation</key>
	<string>consultativeBuilderFlags</string>
</dict>
</plist>
