<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerMethodPadding</key>
	<string>segueAtFlyweight</string>
	<key>injectionIncludePattern</key>
	<string>titleBufferType</string>
	<key>presenterMementoCoord</key>
	<string>loopTierFlags</string>
	<key>storyboardLayerBrightness</key>
	<string>rapidQueueAlignment</string>
	<key>textAgainstKind</key>
	<string>profileAroundFacade</string>
	<key>threadTierForce</key>
	<string>cubeWithAction</string>
	<key>unactivatedSubpixelMode</key>
	<string>apertureAmongAction</string>
	<key>uniformRowRight</key>
	<string>apertureMethodTension</string>
	<key>webChartContrast</key>
	<string>storyboardObserverOrientation</string>
	<key>widgetNumberInteraction</key>
	<string>chartNearLayer</string>
</dict>
</plist>
