<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStateTop</key>
	<string>constraintLayerName</string>
	<key>exceptionIncludeSystem</key>
	<string>memberAdapterCount</string>
	<key>geometricVectorBound</key>
	<string>permissiveAnimatedcontainerValidation</string>
	<key>immutableCardOffset</key>
	<string>cursorWorkTail</string>
	<key>kernelPerValue</key>
	<string>modulusAboutVisitor</string>
	<key>localConfigurationStatus</key>
	<string>toolAtInterpreter</string>
	<key>normalBitrateTail</key>
	<string>delicateScreenDensity</string>
	<key>permanentConfigurationStatus</key>
	<string>reactiveTechniqueRate</string>
	<key>priorProviderLocation</key>
	<string>elasticDurationBehavior</string>
	<key>transitionShapeBottom</key>
	<string>alertContextRight</string>
</dict>
</plist>
