<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderDuringAdapter</key>
	<string>grayscaleDecoratorLocation</string>
	<key>declarativeApertureState</key>
	<string>singleSessionTag</string>
	<key>groupFrameworkSpacing</key>
	<string>cartesianEqualizationCount</string>
	<key>memberWithSystem</key>
	<string>significantPositionDensity</string>
	<key>navigatorShapeForce</key>
	<string>unactivatedInstructionPressure</string>
</dict>
</plist>
