<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerChainShape</key>
	<string>retainedLabelInteraction</string>
	<key>containerKindInteraction</key>
	<string>customizedModelForce</string>
	<key>memberBeyondObserver</key>
	<string>alertMementoCount</string>
	<key>prevResponseBound</key>
	<string>agileIntensityShade</string>
</dict>
</plist>
