<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitBaselineShade</key>
	<string>hardObserverDensity</string>
	<key>nativeParticleShade</key>
	<string>usageBufferDuration</string>
	<key>reactiveSubscriptionBorder</key>
	<string>cycleShapeBrightness</string>
	<key>sizedboxTierMomentum</key>
	<string>permissiveVectorRight</string>
	<key>substantialConstraintLocation</key>
	<string>otherAsyncScale</string>
	<key>titleMediatorStyle</key>
	<string>cupertinoPreviewSpeed</string>
	<key>typicalGetxOrigin</key>
	<string>layoutAgainstAction</string>
</dict>
</plist>
