<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentUntilContext</key>
	<string>symmetricRepositorySpacing</string>
	<key>fragmentCycleSaturation</key>
	<string>immutableCacheColor</string>
	<key>gemMethodTheme</key>
	<string>capsuleMethodLeft</string>
	<key>notificationObserverFrequency</key>
	<string>activatedErrorTag</string>
	<key>relationalReferenceSkewx</key>
	<string>intuitiveStreamInset</string>
	<key>smallTransformerVelocity</key>
	<string>resolverOutsideBridge</string>
	<key>spriteTempleKind</key>
	<string>immutableMissionCoord</string>
	<key>standaloneVectorFeedback</key>
	<string>radiusViaComposite</string>
</dict>
</plist>
