<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateProjectionMode</key>
	<string>sineKindKind</string>
	<key>mediaOutsideForm</key>
	<string>cycleLikeTask</string>
	<key>observerTierState</key>
	<string>largeProtocolTail</string>
	<key>techniqueFormDirection</key>
	<string>remainderAmongPrototype</string>
</dict>
</plist>
