<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAgainstStage</key>
	<string>zoneAdapterBorder</string>
	<key>frameFacadeValidation</key>
	<string>hyperbolicGraphicTension</string>
	<key>kernelForVar</key>
	<string>responseViaAction</string>
	<key>nibLikeProxy</key>
	<string>resourceWithoutPlatform</string>
	<key>previewUntilPlatform</key>
	<string>streamAtPhase</string>
	<key>sensorNearAdapter</key>
	<string>subtleBuilderType</string>
	<key>skinAwayForm</key>
	<string>screenFormAlignment</string>
	<key>taskAwayStructure</key>
	<string>localMediaName</string>
</dict>
</plist>
