<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryParameterPosition</key>
	<string>handlerSingletonDepth</string>
	<key>completerProcessMargin</key>
	<string>unactivatedControllerHead</string>
	<key>exceptionPrototypeVisibility</key>
	<string>buttonProcessSkewx</string>
	<key>giftShapeInterval</key>
	<string>activeMovementName</string>
	<key>layerWithoutCommand</key>
	<string>swiftOrParam</string>
	<key>menuVarTail</key>
	<string>responseTaskSaturation</string>
	<key>metadataDecoratorResponse</key>
	<string>radioAboutMediator</string>
	<key>methodCommandResponse</key>
	<string>asyncJobDelay</string>
	<key>profileActivityFormat</key>
	<string>interactiveAlphaSize</string>
	<key>sessionUntilPrototype</key>
	<string>robustSubscriptionVisibility</string>
</dict>
</plist>
