<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveOptimizerIndex</key>
	<string>primaryLocalizationForce</string>
	<key>isolateVersusAdapter</key>
	<string>inactiveViewState</string>
	<key>serviceStyleColor</key>
	<string>originalReducerPadding</string>
	<key>sinkAmongFacade</key>
	<string>substantialLoopOrigin</string>
</dict>
</plist>
