<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorVariableStyle</key>
	<string>denseSymbolValidation</string>
	<key>musicScopeInteraction</key>
	<string>profileInterpreterHue</string>
	<key>scaleThanStage</key>
	<string>durationOfType</string>
	<key>smallDescriptionScale</key>
	<string>chartOfSystem</string>
	<key>specifyStorageFeedback</key>
	<string>layerWithState</string>
</dict>
</plist>
