<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionThanCommand</key>
	<string>prevNodeVisible</string>
	<key>documentModeRotation</key>
	<string>streamOutsidePhase</string>
	<key>firstGestureSpacing</key>
	<string>imperativeTopicFormat</string>
	<key>immediateBehaviorLeft</key>
	<string>slashWithoutFlyweight</string>
	<key>intensityFrameworkBorder</key>
	<string>capsulePrototypeRight</string>
	<key>primaryAllocatorMomentum</key>
	<string>durationInTier</string>
	<key>skirtInterpreterBottom</key>
	<string>standaloneGateEdge</string>
</dict>
</plist>
