<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelStateInteraction</key>
	<string>temporaryRouteName</string>
	<key>decorationShapeHue</key>
	<string>descriptionStageTheme</string>
	<key>managerOutsideTemple</key>
	<string>currentMissionLeft</string>
	<key>mobileAgainstFacade</key>
	<string>cupertinoLevelSpeed</string>
	<key>sustainableGiftTag</key>
	<string>activityPlatformLeft</string>
</dict>
</plist>
