<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedBlocOpacity</key>
	<string>materialBorderContrast</string>
	<key>requestBySingleton</key>
	<string>ternaryPhaseContrast</string>
	<key>routeOperationSkewx</key>
	<string>taskOfCommand</string>
</dict>
</plist>
