<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAdapterOpacity</key>
	<string>customExceptionFlags</string>
	<key>ephemeralPaddingRotation</key>
	<string>hierarchicalTaskCoord</string>
	<key>layerActionLeft</key>
	<string>ephemeralMovementName</string>
	<key>layerJobShape</key>
	<string>prevScaleBehavior</string>
	<key>repositoryMementoOrigin</key>
	<string>sineThanLevel</string>
	<key>rowAmongSystem</key>
	<string>nibObserverBehavior</string>
	<key>sessionInsideNumber</key>
	<string>positionByPlatform</string>
	<key>tensorListenerBrightness</key>
	<string>resourceStyleSpeed</string>
	<key>widgetAmongPhase</key>
	<string>positionedFormOrigin</string>
</dict>
</plist>
