<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorVariableRight</key>
	<string>fragmentAgainstKind</string>
	<key>coordinatorObserverTop</key>
	<string>sortedChecklistInteraction</string>
	<key>curveProcessKind</key>
	<string>interactiveLayoutBorder</string>
	<key>displayablePresenterPressure</key>
	<string>sharedUsecaseTint</string>
	<key>durationStructureFormat</key>
	<string>shaderAroundContext</string>
	<key>mobileAssetDelay</key>
	<string>touchInsideStructure</string>
	<key>reactiveLabelLocation</key>
	<string>streamFormMomentum</string>
</dict>
</plist>
