<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalFrameEdge</key>
	<string>tangentMethodBorder</string>
	<key>delicateGrainAlignment</key>
	<string>frameAwayChain</string>
	<key>equipmentTempleDirection</key>
	<string>profileOutsideChain</string>
	<key>histogramProcessInteraction</key>
	<string>mediumSignSpeed</string>
	<key>mainRowFlags</key>
	<string>constraintPerCommand</string>
	<key>modalOperationIndex</key>
	<string>mediocreInstructionMomentum</string>
	<key>momentumBesideActivity</key>
	<string>cellTierDepth</string>
	<key>normalZoneMode</key>
	<string>independentAlphaShape</string>
	<key>unaryPrototypePadding</key>
	<string>customizedEffectBottom</string>
	<key>widgetInterpreterRotation</key>
	<string>explicitParticleInterval</string>
</dict>
</plist>
