<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionCycleKind</key>
	<string>resilientHandlerRate</string>
	<key>decorationMementoBound</key>
	<string>streamParamBound</string>
	<key>lostProtocolMode</key>
	<string>positionPhaseMargin</string>
	<key>memberInsideMemento</key>
	<string>denseMissionRotation</string>
	<key>promiseExceptLayer</key>
	<string>builderModeDensity</string>
	<key>specifierFacadeRate</key>
	<string>responseVarFlags</string>
</dict>
</plist>
