<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFacadeTop</key>
	<string>gemDespiteWork</string>
	<key>coordinatorAgainstStage</key>
	<string>mobileStateBorder</string>
	<key>descriptionWithMemento</key>
	<string>precisionShapeRight</string>
	<key>extensionForSingleton</key>
	<string>operationJobIndex</string>
	<key>lazyInjectionTheme</key>
	<string>labelWithMemento</string>
	<key>painterFacadeBorder</key>
	<string>offsetFunctionTheme</string>
	<key>presenterDecoratorType</key>
	<string>activeApertureSpacing</string>
	<key>reusableButtonSkewy</key>
	<string>priorSpotStyle</string>
	<key>reusableEqualizationStatus</key>
	<string>taskLayerIndex</string>
	<key>topicFormForce</key>
	<string>gridviewParamEdge</string>
</dict>
</plist>
