<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveScaleTail</key>
	<string>animatedNavigatorSaturation</string>
	<key>difficultCapacitiesColor</key>
	<string>positionAmongDecorator</string>
	<key>dropdownbuttonJobDistance</key>
	<string>deferredGraphicSkewx</string>
	<key>flexibleVectorOrigin</key>
	<string>statelessAsScope</string>
	<key>graphBeyondSystem</key>
	<string>injectionFromType</string>
	<key>pivotalGesturedetectorBottom</key>
	<string>prismaticGrayscaleRate</string>
	<key>richtextBridgeEdge</key>
	<string>logarithmThanDecorator</string>
	<key>scaleAmongStyle</key>
	<string>collectionAwaySingleton</string>
</dict>
</plist>
