<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitNearInterpreter</key>
	<string>logarithmPrototypePressure</string>
	<key>captionNearSystem</key>
	<string>mobileGateState</string>
	<key>elasticButtonSpeed</key>
	<string>alphaTempleName</string>
	<key>intensityFormCount</key>
	<string>activatedOperationSkewx</string>
	<key>iterativeNotificationForce</key>
	<string>scrollableCallbackOffset</string>
	<key>localOptionDelay</key>
	<string>prismaticAnimationPressure</string>
	<key>originalTextVisible</key>
	<string>featureOutsideOperation</string>
	<key>playbackSingletonSpeed</key>
	<string>localizationObserverAlignment</string>
	<key>prismaticSlashPressure</key>
	<string>uniformTaskOrigin</string>
	<key>titleOperationEdge</key>
	<string>reducerVersusStage</string>
</dict>
</plist>
