<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDespitePlatform</key>
	<string>activeRequestLocation</string>
	<key>effectActionRotation</key>
	<string>flexCommandType</string>
	<key>methodCompositePressure</key>
	<string>capacitiesByWork</string>
	<key>presenterWorkDelay</key>
	<string>scaleParamKind</string>
</dict>
</plist>
