<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedHandlerSize</key>
	<string>lazyContainerTheme</string>
	<key>awaitSystemRight</key>
	<string>sharedConstraintAppearance</string>
	<key>containerCycleContrast</key>
	<string>controllerIncludeSystem</string>
	<key>featureBesideValue</key>
	<string>consultativeResponseInset</string>
	<key>gridviewAwayStage</key>
	<string>flexibleBufferContrast</string>
	<key>isolateDespiteProcess</key>
	<string>layoutTierFeedback</string>
	<key>numericalAlertDepth</key>
	<string>customAspectratioAcceleration</string>
	<key>toolBeyondProxy</key>
	<string>projectWithSingleton</string>
	<key>utilModeMomentum</key>
	<string>subsequentTopicBound</string>
</dict>
</plist>
