<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferVersusBuffer</key>
	<string>nativeNotifierDirection</string>
	<key>effectTypeInset</key>
	<string>delegateNumberState</string>
	<key>finalMomentumFlags</key>
	<string>uniqueTitleKind</string>
	<key>menuActionCount</key>
	<string>composableWidgetLocation</string>
	<key>offsetWithoutForm</key>
	<string>timerAsKind</string>
	<key>tabviewCycleCenter</key>
	<string>contractionVarVisible</string>
</dict>
</plist>
