<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchCompositeFeedback</key>
	<string>responseThroughDecorator</string>
	<key>binaryInPlatform</key>
	<string>repositoryUntilScope</string>
	<key>containerPatternAcceleration</key>
	<string>remainderLikeMethod</string>
	<key>directDescriptorMomentum</key>
	<string>coordinatorUntilAdapter</string>
	<key>remainderByPhase</key>
	<string>behaviorWithoutOperation</string>
	<key>touchIncludeJob</key>
	<string>tappableReductionFrequency</string>
	<key>unactivatedBatchName</key>
	<string>temporaryRepositoryIndex</string>
	<key>utilFromContext</key>
	<string>oldTopicName</string>
</dict>
</plist>
