<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeHeapHue</key>
	<string>backwardResultShape</string>
	<key>mediumErrorCoord</key>
	<string>rowAboutForm</string>
	<key>resourceUntilMethod</key>
	<string>pointInShape</string>
	<key>reusableSinkIndex</key>
	<string>graphContextOrigin</string>
	<key>widgetThroughCycle</key>
	<string>composableLabelContrast</string>
</dict>
</plist>
