<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineActionSpacing</key>
	<string>chartModeName</string>
	<key>certificateLevelTag</key>
	<string>baseForMemento</string>
	<key>grayscaleSinceMemento</key>
	<string>observerInFlyweight</string>
	<key>imageThanMode</key>
	<string>firstScreenRate</string>
	<key>symmetricReducerCoord</key>
	<string>providerWorkDepth</string>
	<key>visibleEffectCoord</key>
	<string>cellDuringScope</string>
</dict>
</plist>
