<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTweenHead</key>
	<string>eagerProgressbarDistance</string>
	<key>commandActivityContrast</key>
	<string>descriptionOrComposite</string>
	<key>controllerFormCenter</key>
	<string>invisibleSpotShape</string>
	<key>logarithmFormDistance</key>
	<string>dynamicCompletionBottom</string>
	<key>menuStrategyHead</key>
	<string>commandBufferScale</string>
	<key>ternaryAwayWork</key>
	<string>sinkDuringEnvironment</string>
	<key>usecaseActivityShape</key>
	<string>toolThanVisitor</string>
</dict>
</plist>
