<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeViaType</key>
	<string>routerTypeStyle</string>
	<key>configurationScopeContrast</key>
	<string>storeAtChain</string>
	<key>eagerDocumentBottom</key>
	<string>lostGroupOpacity</string>
	<key>inheritedInterfaceOrientation</key>
	<string>greatViewVisible</string>
	<key>loopVisitorBottom</key>
	<string>sensorVariableBrightness</string>
	<key>stackWithParameter</key>
	<string>missedNavigatorInteraction</string>
</dict>
</plist>
