<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPositionedType</key>
	<string>routeContextSaturation</string>
	<key>constraintParameterRotation</key>
	<string>gridviewAboutCommand</string>
	<key>descriptorParamContrast</key>
	<string>arithmeticModulusState</string>
	<key>heapStageKind</key>
	<string>euclideanHashOpacity</string>
	<key>navigatorContextBound</key>
	<string>instructionLikeVisitor</string>
	<key>nibFromType</key>
	<string>grayscaleDuringContext</string>
	<key>swiftJobRate</key>
	<string>capsuleInsideMode</string>
</dict>
</plist>
