<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyProxyTail</key>
	<string>rapidPageviewDistance</string>
	<key>graphObserverDistance</key>
	<string>tweenDespiteKind</string>
	<key>handlerLikeStrategy</key>
	<string>shaderAroundProcess</string>
	<key>injectionFacadeName</key>
	<string>dynamicHashSkewx</string>
	<key>lostSensorCount</key>
	<string>resultWithoutMediator</string>
	<key>queueDespiteEnvironment</key>
	<string>previewBeyondLayer</string>
	<key>utilThanVariable</key>
	<string>textureShapeOffset</string>
</dict>
</plist>
