<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constCoordinatorVisibility</key>
	<string>controllerModeSpacing</string>
	<key>crucialCurveSaturation</key>
	<string>exceptionBufferCenter</string>
	<key>fragmentFlyweightMomentum</key>
	<string>accessoryCompositeTail</string>
	<key>giftFormLocation</key>
	<string>offsetTaskRotation</string>
	<key>monsterInFramework</key>
	<string>functionalStateTransparency</string>
	<key>permissiveTitleAppearance</key>
	<string>cosineDespiteMode</string>
	<key>queueByComposite</key>
	<string>positionPlatformDelay</string>
	<key>textPatternValidation</key>
	<string>autoTitleCenter</string>
</dict>
</plist>
