<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedGetxOrientation</key>
	<string>eagerSizeTension</string>
	<key>canvasAmongBuffer</key>
	<string>controllerBesidePhase</string>
	<key>containerKindInterval</key>
	<string>textureVariablePressure</string>
	<key>instructionWorkPressure</key>
	<string>resourceMementoDepth</string>
	<key>playbackSystemMode</key>
	<string>reducerSystemSize</string>
	<key>uniformLayerVisible</key>
	<string>lostMasterScale</string>
</dict>
</plist>
