<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAboutBridge</key>
	<string>mutableConfigurationSpeed</string>
	<key>animationOrTemple</key>
	<string>interactiveDimensionHue</string>
	<key>descriptorLayerSize</key>
	<string>playbackAwayMemento</string>
	<key>interfaceDuringChain</key>
	<string>playbackWithoutTask</string>
	<key>topicStructureSize</key>
	<string>gridOfJob</string>
</dict>
</plist>
