<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonHistogramKind</key>
	<string>normalContainerBehavior</string>
	<key>completionVersusMethod</key>
	<string>sampleContainWork</string>
	<key>factoryThroughBridge</key>
	<string>reducerTaskAlignment</string>
	<key>menuFrameworkSpacing</key>
	<string>containerBeyondDecorator</string>
	<key>originalManagerMode</key>
	<string>eventVisitorHue</string>
	<key>queryProcessSize</key>
	<string>pivotalTaskTop</string>
	<key>statefulPresenterInset</key>
	<string>smartTaskTop</string>
	<key>storageCompositeHead</key>
	<string>uniquePopupPosition</string>
	<key>synchronousSwiftResponse</key>
	<string>activeRowIndex</string>
	<key>themePlatformSize</key>
	<string>contractionAwayStyle</string>
</dict>
</plist>
