<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorStateIndex</key>
	<string>semanticBoxshadowTop</string>
	<key>dynamicManagerFeedback</key>
	<string>rectBufferColor</string>
	<key>entropyOutsideAction</key>
	<string>slashTempleShape</string>
	<key>inactiveDimensionSkewy</key>
	<string>frameStyleForce</string>
	<key>labelStageResponse</key>
	<string>standaloneDropdownbuttonTint</string>
	<key>masterVersusEnvironment</key>
	<string>modelShapeMargin</string>
</dict>
</plist>
