<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeProjectionName</key>
	<string>dependencyByShape</string>
	<key>asynchronousSessionDistance</key>
	<string>priorResolverAppearance</string>
	<key>heroAroundCycle</key>
	<string>characterStrategyOffset</string>
	<key>popupNumberTail</key>
	<string>streamNumberStatus</string>
	<key>sinkVersusFlyweight</key>
	<string>routeStructureRate</string>
	<key>textureSinceTask</key>
	<string>priorityInsideBridge</string>
	<key>tweenAmongStrategy</key>
	<string>animationIncludeStrategy</string>
</dict>
</plist>
