<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResourceTop</key>
	<string>decorationNumberDistance</string>
	<key>mediocreWorkflowSpeed</key>
	<string>easyCanvasOrientation</string>
	<key>normAtPattern</key>
	<string>semanticSpotFeedback</string>
	<key>responsiveSizeInterval</key>
	<string>permissiveStorageOrigin</string>
	<key>sensorAsCycle</key>
	<string>unsortedGestureStyle</string>
	<key>storePlatformEdge</key>
	<string>layoutObserverColor</string>
	<key>vectorOrPlatform</key>
	<string>routerActionMomentum</string>
</dict>
</plist>
