<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeRichtextHead</key>
	<string>frameActionMode</string>
	<key>equalizationNearFacade</key>
	<string>positionTempleInset</string>
	<key>factoryPatternCoord</key>
	<string>subpixelDuringFramework</string>
	<key>lastTweenSpacing</key>
	<string>firstTextEdge</string>
	<key>multiMovementOrigin</key>
	<string>sensorIncludeJob</string>
	<key>reusableAspectratioVisibility</key>
	<string>groupAtContext</string>
	<key>spriteContainVariable</key>
	<string>toolAsMemento</string>
	<key>taskTaskLocation</key>
	<string>significantBehaviorSaturation</string>
</dict>
</plist>
