<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryBufferDistance</key>
	<string>dropdownbuttonVisitorAppearance</string>
	<key>featureNearObserver</key>
	<string>variantInAction</string>
	<key>layerSystemVisibility</key>
	<string>layerBesideForm</string>
	<key>notifierMementoOffset</key>
	<string>tabviewVisitorVisible</string>
	<key>particleLikeActivity</key>
	<string>pinchableNormBound</string>
	<key>rectBesideParameter</key>
	<string>deferredCatalystMode</string>
	<key>standaloneFeatureTag</key>
	<string>responseObserverPressure</string>
	<key>timerTierSpacing</key>
	<string>bufferContainFramework</string>
</dict>
</plist>
