<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeWorkflowScale</key>
	<string>errorStateOpacity</string>
	<key>presenterWithCommand</key>
	<string>requiredStatelessOrigin</string>
	<key>queryDespiteAction</key>
	<string>navigatorOrPrototype</string>
	<key>requestInterpreterDistance</key>
	<string>sustainableBitrateMomentum</string>
	<key>requiredIndicatorTension</key>
	<string>utilThanEnvironment</string>
	<key>respectiveNodeFormat</key>
	<string>normalErrorResponse</string>
	<key>usageOrStrategy</key>
	<string>menuOutsideForm</string>
</dict>
</plist>
