<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicAroundStyle</key>
	<string>prismaticParticleDepth</string>
	<key>isolateKindTag</key>
	<string>topicStyleForce</string>
	<key>kernelAgainstTemple</key>
	<string>tickerMediatorLeft</string>
	<key>techniqueBySingleton</key>
	<string>serviceMediatorBottom</string>
	<key>viewParamRotation</key>
	<string>resilientIsolateTint</string>
</dict>
</plist>
