<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellInterpreterAlignment</key>
	<string>baselineBySystem</string>
	<key>columnAdapterSize</key>
	<string>masterPatternSpacing</string>
	<key>layoutActivityStatus</key>
	<string>basicPositionTheme</string>
	<key>matrixPrototypeShape</key>
	<string>handlerCompositeDelay</string>
	<key>notifierDespiteTemple</key>
	<string>alphaOutsidePrototype</string>
	<key>optimizerTaskLocation</key>
	<string>transitionInterpreterTransparency</string>
	<key>singletonProcessVelocity</key>
	<string>containerVarBehavior</string>
</dict>
</plist>
