<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeByDecorator</key>
	<string>semanticsActivityEdge</string>
	<key>durationCompositeAppearance</key>
	<string>dedicatedSceneHue</string>
	<key>intermediateCaptionOpacity</key>
	<string>batchPlatformSkewx</string>
	<key>remainderTierMode</key>
	<string>queryAlongFramework</string>
	<key>resourceLevelRotation</key>
	<string>mobileGridviewForce</string>
</dict>
</plist>
