<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatInterfaceCoord</key>
	<string>significantCaptionPadding</string>
	<key>integerOperationRight</key>
	<string>oldManagerLocation</string>
	<key>matrixWithTier</key>
	<string>denseBehaviorName</string>
	<key>modalProxyDelay</key>
	<string>characterMethodBottom</string>
	<key>routeVarTransparency</key>
	<string>allocatorAlongContext</string>
	<key>smartVectorCenter</key>
	<string>lastModalRotation</string>
</dict>
</plist>
