<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentValueBorder</key>
	<string>vectorPatternValidation</string>
	<key>crucialBehaviorVelocity</key>
	<string>iterativeStatefulVelocity</string>
	<key>offsetFlyweightAlignment</key>
	<string>inactiveCacheState</string>
	<key>significantButtonLeft</key>
	<string>optimizerThanParam</string>
	<key>webCellCenter</key>
	<string>uniqueMenuRate</string>
	<key>widgetPhaseTop</key>
	<string>consumerDuringTier</string>
</dict>
</plist>
